
"from":     "{{contact_email}}",
"to":       "{{ to }}",
"subject":  "Yappn Notification"

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Yappn Notification</title>
</head>

<body>
<table width="400" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td height="39" width="400"><img src="https://s3.amazonaws.com/cdn.yappn.com/2.0/yapp_email_logo.jpg" alt="Meet, chat, engage, consume" /></td>
  </tr>
  <tr>
    <td style="font-family: arial, sans-serif; font-size:11px; font-face: arial, sans-serif; line-height:16px; font-size:12px;padding-top:25px;">
        <p>{{body}}</p>
    </td>
  </tr>
  <tr>
    <td width="400" style="padding-top:25px;font-family: arial, sans-serif; font-size:11px; font-face: arial, sans-serif; line-height:16px; color:#999999;">
      This email was sent to {{to}}. If you do not wish to recieve emails from Yappn Corp. please <a href="http://chat.yappn.com/account/settings">unsubscribe</a>.
      <p>{{can_spam}}</p>
    </td>
  </tr>
</table>
</body>
</html>