
"from":     "{{contact_email}}",
"to":       "{{ to }}",
"subject":  "Password reset."

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="400" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td height="80" width="400"><img src="http://cdn.yappn.com/common-images/meetchatengageconsume.jpg" alt="Meet, chat, engage, consume" /></td>
  </tr>
  <tr>
    <td style="font-family: arial, sans-serif; font-size:11px; font-face: arial, sans-serif; line-height:16px;">
    	<p>Hi @{{username}},</p>
		<p>Your password has been reset for the Yappn. You will find your new password below. After you login with this new password, you can change it to something you can remember.</p>
		<h2 style="margin:0px; padding:20px; color:#000000;">{{password}}</h2>
		<p style="margin:0px; padding:20px; font-size:12px; line-height:14px; color:#000000;">
			Thanks,<br/>
			<a href="http://yappn.com/">{{team_nick}}</a><br/>
		</p>
    </td>
  </tr>
  <tr>
    <td height="200" width="400"><img src="http://cdn.yappn.com/common-images/yasminesignature.jpg" alt="Cheers, Yasmine @ Yappn" /></td>
  </tr>
  <tr>
    <td width="400" style="padding-top:25px;font-family: arial, sans-serif; font-size:11px; font-face: arial, sans-serif; line-height:16px; color:#999999;">{{can_spam}}</td>
  </tr>
</table>
</body>
</html>