
"from":     "{{contact_email}}",
"to":       "{{ to }}",
"subject":  "A room has been flagged."

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="400" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td height="80" width="400"><img src="http://cdn.yappn.com/common-images/meetchatengageconsume.jpg" alt="Meet, chat, engage, consume" /></td>
  </tr>
  <tr>
    <td style="font-family: arial, sans-serif; font-size:11px; font-face: arial, sans-serif; line-height:16px;">
        <p>Hi Admin,</p>
        <p>Please be aware that the following room has hit its flag threshold</p>
        <p><a href="http://yappn.com/#/room/{{ room._id }}">{{ room.displayName }}</a></p>
    </td>
  </tr>
  <tr>
    <td height="200" width="400"><img src="http://cdn.yappn.com/common-images/yasminesignature.jpg" alt="Cheers, Yasmine @ Yappn" /></td>
  </tr>
</table>
</body>
</html>