<div style="margin: 20px 40px;">
    <div class="row">
        <div class="col-md-3" ng-repeat="badge in badges">
            <a class="thumbnail" popover-placement="top" popover="{{ badge.summary | translate }}" popover-title="{{ badge.displayName }}" popover-trigger="mouseenter">
                <img data-ng-src="{{badge.icon.url}}" alt="{{ badge.summary}}">
            </a>
        </div>
    </div>
</div>