<div style="margin: 20px 40px;">

    <div ng-hide="followers.people.length" ng-cloak><b>@{{username}}</b> {{ 'profile.followers.header.none' | translate }}</div>

    <div style="margin-bottom:20px;" ng-show="followers.people">
        <input type="search" placeholder="filter results" class="form-control" ng-model="followerFilter">
    </div>
    
    <div class="row" infinite-div='followers.more()' can-load="!followers.busy" threshold="40" container="profileviewbox">
        <div class="col-md-6" ng-repeat="person in followers.people | filter: followerFilter">
            <a ui-sref="ProfileView({ person: person.username })" class="thumbnail clearfix">
                <div class="col-md-3">
                    <userimage imageurl="{{person.image.url}}" imagebox="48"></userimage>
                </div>
                <div class="col-md-8 pull-right friends-info">
                    <h5>{{ person.displayName }}</h5>
                    <h6>@{{ person.username }}</h6>
                </div>
            </a>
        </div>
    </div>
</div>