<div style="max-height:500px; overflow:auto">
    <div style="margin: 20px 40px;" infinite-div='nextPage()' can-load="!busy" threshold="40" container="viewbox">
        
        <div ng-hide="comments.posts.length" ng-cloak><b>@{{username}}</b> {{ 'profile.history.header.nocontribute' | translate }}</div>

        <div infinite-div='comments.more()' can-load="!comments.busy" threshold="50" container="profileviewbox">
            <article ng-repeat="post in comments.posts" class="profile-comment-view clearfix">

                <!-- drop down admin menu -->
                <div class="btn-group pull-right" ng-show="post.editable" style="margin-left:10px;">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="edit-label">{{post.edit}}</li>
                        <li><a href="" ng-click="textEdit.$show()" ng-hide="textEdit.$visible">{{ 'discussions.link.label.edit' | translate }}</a></li>
                        <li><a href="" ng-click="removeImage($index, post._id)" ng-cloak ng-show="post.image.url">{{ 'discussions.link.label.removeimage' | translate }}</a></li>
                        <li><a href="" ng-click="deletePost($index, post._id)">{{ 'discussions.link.label.delete' | translate }}</a></li>
                    </ul>
                </div>
                <div><span am-time-ago="post.published"></span> <span class="post-in-lang">({{ 'discussions.body.origin' | translate }} <b>{{ post.lang | langCode }}</b>)</span></div>

                <div class="clearfix" style="margin-bottom: 10px;">
                    <a href="{{post.image.url}}" target="_blank" ng-cloak ng-show="post.image.url" class="pull-left" style="margin-right:10px;"><img ng-src="{{post.thumbnail.url}}" ng-show="post.thumbnail.url" ng-cloak></a>
                    <h4>{{ 'discussions.body.on' | translate }} <a ui-sref="DiscussionView({ discussion: post.discussion._id })" ng-bind-html="post.discussion.displayName"></a>:</h4>
                    <p ng-bind-html="post.content" linkify="yappn" editable-textarea="post.content" onbeforesave="updatePost(post._id, $data)" e-form="textEdit" e-rows="5" e-cols="80"></p>
                </div>
                <div class="btn-group post-actions" ng-show="{{ currentUser && currentUser.id !== post.author._id.toString() }}">
                    <reaction icon="fa-thumbs-up" kind="like" table="forums/comment" collection="post.like" reference="post._id" allow="true"></reaction>
                    <reaction icon="fa-flag" kind="flag" table="forums/comment" collection="post.flag" reference="post._id" allow="false"></reaction>
                    <reaction icon="fa-smile-o" kind="lol" table="forums/comment" collection="post.lol" reference="post._id" allow="false"></reaction>
                </div>
            </article>
        </div>
    </div>
</div>