<div class="window-content theme-upgrade">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-content">
                        <div class="pad">
                            
                            <h1>@{{ currentUser.username}},</h1>
                            <p>{{ 'profile.upgrade.intro' | translate }}</p>

                            <form role="form" ng-submit="upgrade()">
                                
                                <div class="form-group">
                                    <label for="inputName">{{ 'account.form.label.displayName' | translate }}</label>
                                    <input type="text" class="form-control" id="inputName" data-ng-model="details.displayName" required>
                                </div>

                                <div class="form-group">
                                    <label for="inputLocation">{{ 'account.form.label.location' | translate }}</label>
                                    <input type="text" class="form-control" id="inputLocation" data-ng-model="details.location.displayName" required>
                                </div>

                                <div class="form-group">
                                    <label for="inputSummary">{{ 'account.form.label.summary' | translate }}</label>
                                    <textarea class="form-control" data-ng-model="details.summary" rows="3" required>{{ details.summary }}</textarea>
                                </div>

                                <hr>

                                <button type="submit" class="btn btn-primary btn-block" ng-trim="false">{{ 'profile.upgrade.button.label.submit' | translate }}</button>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>