<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">

        <div class="row">
            
            <div class="col-md-12">
                <div class="row" masonry="{ transitionDuration: '0.4s', columnWidth: '180', containerStyle: null }" item-selector=".mybrick" container-style="null" column-width="180">
                    <div class="grid-sizer"></div>
                    <div class="col col-md-7 masonry-brick mybrick stamp" style="width:540px; position:absolute; top:0; left: 200px;">
                        <div class="panel panel-default">
                            <div class="panel-heading clear panel-extra-padding">
                                <div style="padding:0px 20px 0 10px; text-align:center;">
                                    <a ui-sref="ProfileView({ person: profile.username })">
                                        <userimage imageurl="{{profile.image.url}}" imagebox="120"></userimage>
                                    </a>
                                </div>

                                <div class="caption user-name-summary" style="margin-top:10px;">
                                    
                                    <h1>{{ profile.displayName }}</h1>
                                    <h5>@{{ profile.username }} <small ng-show="profile.banned"><span class="label label-danger">{{ 'profile.body.banned' | translate }}</span></small></h5>

                                    <p ng-show="profile.summary">{{ profile.summary }}</p>

                                    <ul class="profile-info-bar">
                                        <li><i class="fa fa-map-marker"></i> {{ profile.location.displayName || 'Yappn' }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-content">
                                <div style="background-color:#e8e8e8; padding:5px;" class="clear clearfix" ng-show="{{ currentUser && currentUser.id !== profile._id.toString() }}">
                                    <div class="btn-group pull-right" ng-show="{{ currentUser && currentUser.id !== profile._id.toString() && profile.banned }}">
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-show="admin">
                                            <span class="caret"></span>
                                            <span class="sr-only">toggle</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-show="admin">
                                            <li class="edit-label">Admin</li>
                                            <li ng-show="profile.banned"><a ng-click="AccountRemoveBan({ person: profile.username })">{{ 'profile.button.label.unban' | translate }}</a></li>
                                        </ul> 
                                    </div>
                                    <div class="btn-group pull-right" ng-show="{{ currentUser && currentUser.id !== profile._id.toString() && !profile.banned }}">
                                        <reaction icon="fa-thumbs-up" kind="like" table="user" collection="profile.like" reference="profile.username"></reaction>
                                        <reaction icon="fa-flag" kind="flag" table="user" collection="profile.flag" reference="profile.username"></reaction>
                                        <reaction icon="fa-smile-o" kind="lol" table="user" collection="profile.lol" reference="profile.username"></reaction>
                                        <connection username="profile.username_idx" ng-hide="profile.banned"></connection>
                                        <a ng-hide="profile.banned" class="btn btn-default btn-sm" ui-sref="Inbox.Compose({ username: profile.username })"><i class="fa fa-envelope"></i></a>
                                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-show="admin">
                                            <span class="caret"></span>
                                            <span class="sr-only">toggle</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" ng-show="admin">
                                            <li class="edit-label">Admin</li>
                                            <li ng-hide="profile.banned"><a ng-click="AccountBan({ person: profile.username })">{{ 'profile.button.label.ban' | translate }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-content">
                                <div style="background-color: #f5f5f5;" class="clear clearfix">
                                    <div class="pull-left">
                                        <ul class="user-info-bar">
                                            <li class="comments"><span>{{ profile.post_count | number:0 }}</span> <a ui-sref="ProfileView.Comments()">{{ 'profile.tabs.label.comments' | translate }}</a></li>
                                            <li><span>{{ profile.following.length | number:0 }}</span> <a ui-sref="ProfileView.Following()">{{ 'profile.tabs.label.following' | translate }}</a></li>
                                            <li><span>{{ profile.followers.length | number:0 }}</span> <a ui-sref="ProfileView.Followers()">{{ 'profile.tabs.label.followers' | translate }}</a></li>
                                            <li><span>{{ profile.points_balance | number: 0 }}</span> <a ui-sref="ProfileView.Badges()">{{ 'profile.tabs.label.coins' | translate }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-content" id="profileviewbox" ui-view>
                                
                            </div>
                        </div>
                    </div>


                    <div class="col col-md-3 discussion-isotope masonry-brick mybrick" ng-repeat="discussion in startedDiscussions">
                        <div class="thumbnail no-underline" style="position:relative;" popover-placement="top" popover-title="{{ discussion.last_comment.published | amCalendar}} -- @{{ discussion.last_comment_by.username }} {{ 'discussions.body.lastcomment.pre' | translate }} ..." popover="{{ discussion.last_comment.content |  characters:80 :true }}" popover-trigger="mouseenter">

                            <div style="margin:3px;" ng-show="discussion.image.url">
                                <img ng-src="{{discussion.image.url}}" style="width:100%;">
                            </div>

                            <div class="caption {{!discussion.image.url || 'caption-inverse' }}">
                                <h3><a ui-sref="DiscussionView({ discussion: discussion._id })" ng-bind-html="discussion.displayName">{{ discussion.displayName }}</a></h3>
                                <p class="wordwrap" ng-bind-html="discussion.content | characters:80 :true"></p>
                                <div style="clear:both;"></div>


                                <div class="isotope-discussion-info">
                                    <hr style="margin: 10px 0 10px 0;">
                                    <div class="row">
                                        <div class="col col-md-6"><i class="fa fa-eye"></i> {{ discussion.views | number:0 }} </div>
                                        <div class="col col-md-6" style="text-align:right;">{{ discussion.comments | number:0 }} <i class="fa fa-comment"></i></div>
                                    </div>
                                </div>

                            </div>

                            <!-- <div class="isotope-footer">
                                <i class="fa fa-clock-o"></i> <span am-time-ago="discussion.published"></span>
                            </div> -->

                        </div>
                    </div>

                </div> 
            </div>

        </div>
    </div>
</div>