<form name="FormFeed" role="form" ng-submit="updateFeedTags()" novalidate>

    <div class="form-group">
        <h4 style="margin: 0px 0px 10px 0px;">{{ 'account.feed.header.title' | translate }}</h4>
        <p>{{ 'account.feed.header.description' | translate }}</p>
        <tags-input ng-model="profile.feed"
            custom-class="bootstrap"
            placeholder="{{ 'account.form.label.tag' | translate }}"
            replace-spaces-with-dashes="true"
            add-on-comma="true"
            add-on-enter="true"
            allow-leftover-text="false"
            add-on-blur="true"
            max-length="20">
        </tags-input>
        
    </div>

    <hr>
    
    <button type="submit" class="btn btn-sm btn-primary pull-right">{{ 'global.form.button.submit' | translate }}</button>

</form>