
<form name="FormPassword" role="form" ng-submit="updateInfo()" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : FormBasic.inDisplayName.$invalid && !FormBasic.inDisplayName.$pristine }">
        <label for="inDisplayName">{{ 'account.form.label.displayName' | translate }}</label>
        <input type="text" id="inDisplayName" name="inDisplayName" data-ng-model="profile.displayName" class="form-control" required>
        <p ng-show="FormBasic.inDisplayName.$invalid && !FormBasic.inDisplayName.$pristine" class="help-block">{{ 'account.form.error.displayName' | translate }}</p>
    </div>

    <div class="form-group">
        <label for="inSummary">{{ 'account.form.label.summary' | translate }}</label>
        <textarea type="text" id="inSummary" name="inSummary" data-ng-model="profile.summary" class="form-control" rows="4"></textarea>
    </div>

    <hr>
    <button type="submit" class="btn btn-sm btn-primary pull-right" ng-disabled="FormPassword.$invalid">{{ 'global.form.button.submit' | translate }}</button>

</form>


