<p>{{ 'account.networks.header.description' | translate }}</p>

<div class="row">
    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-facebook" href="#" ng-click="ConnectNetwork('facebook', $event)">Facebook</a>
    </div>

    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-twitter" href="#" ng-click="ConnectNetwork('facebook', $event)">Twitter</a>
    </div>

    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-google" href="#" ng-click="ConnectNetwork('facebook', $event)">Google+</a>
    </div>

    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-foursquare" href="#" ng-click="ConnectNetwork('facebook', $event)">Foursquare</a>
    </div>

    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-instagram" href="#" ng-click="ConnectNetwork('facebook', $event)">Instagram</a>
    </div>

    <div class="col-md-6" style="margin-top:20px;">
        <a class="network network-linkedin" href="#" ng-click="ConnectNetwork('facebook', $event)">LinkedIn</a>
    </div>
</div>