<div ng-hide="local">{{ 'account.password.body.notavailable' | translate }}</div>

<form name="FormPassword" role="form" ng-submit="updatePassword()" novalidate ng-show="local">

    <div class="form-group" ng-class="{ 'has-error' : FormPassword.oldPassword.$invalid && !FormPassword.oldPassword.$pristine }">
        <label for="oldPassword">{{ 'account.form.label.password' | translate }}</label>
        <input type="password" id="oldPassword" name="oldPassword" ng-model="passdata.oldPassword" class="form-control" required>
        <p ng-show="FormPassword.oldPassword.$invalid && !FormPassword.oldPassword.$pristine" class="help-block">{{ 'account.form.error.password' | translate }}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : FormPassword.newPassword.$invalid && !FormPassword.newPassword.$pristine }">
        <label for="newPassword">{{ 'account.form.label.newpassword' | translate }}</label>
        <input type="password" id="newPassword" name="newPassword" ng-model="passdata.newPassword" class="form-control" required>
        <p ng-show="FormPassword.newPassword.$invalid && !FormPassword.newPassword.$pristine" class="help-block">{{ 'account.form.error.newpassword' | translate }}</p>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : FormPassword.newPassword2.$invalid && !FormPassword.newPassword2.$pristine }">
        <label for="newPassword2">{{ 'account.form.label.passconfirm' | translate }}</label>
        <input type="password" id="newPassword2" name="newPassword2" ng-model="passdata.newPassword2" class="form-control" pw-check="newPassword" required>
        <p ng-show="FormPassword.newPassword2.$invalid && !FormPassword.newPassword2.$pristine" class="help-block">{{ 'account.form.error.passconfirm' | translate }}</p>
    </div>

    <hr>
    <button type="submit" class="btn btn-sm btn-primary pull-right" ng-disabled="FormPassword.$invalid">{{ 'global.form.button.submit' | translate }}</button>

</form>