
<form name="FormSettings" role="form" ng-submit="updateSettings()" novalidate>

    <div class="settings-section row clear" ng-show="local">
        <div class="col-md-3" style="text-align:right;"><label>{{ 'account.form.label.notifywhen' | translate }}</label></div>
        <div class="col-md-9">
            <ul class="no-ul-styling account-settings">
                <li ng-repeat="notification in notifications">
                    <input type="checkbox" checklist-model="user.notifications" checklist-value="notification.id"><span style="display:inline-block; margin-left:15px;">{{notification.text}}</span>
                </li>
            </ul>
        </div>
    </div>

    <hr ng-show="local">

    <div class="settings-section row clear" ng-show="local">
        <div class="col-md-3" style="text-align:right;"><label>{{ 'account.form.label.newsletter' | translate }}</label></div>
        <div class="col-md-9">
            <ul class="no-ul-styling account-settings">
                <li>
                    <input type="checkbox" ng-model="newsletter"><span style="display:inline-block; margin-left:15px;">{{ 'account.settings.checkbox.newsletter' | translate }}</span>
                </li>
            </ul>
        </div>
    </div>

    <hr ng-show="local">


    <div class="settings-section row clear">
        <div class="col-md-3" style="text-align:right;"><label class="delete-account">{{ 'account.form.label.warning' | translate }}</label></div>
        <div class="col-md-9">
            <p>{{ 'account.settings.header.warning' | translate }}</p>
            <button type="button" class="btn btn-sm btn-danger pull-left">{{ 'account.button.label.delete' | translate }}</button>
        </div>
    </div>

    <hr ng-show="local">
    
    <button type="submit" class="btn btn-sm btn-primary pull-right" ng-show="local">{{ 'global.form.button.submit' | translate }}</button>

</form>