<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div class="panel panel-default">
                    
                    <div class="panel-heading clear panel-account-nav">

                        <div class="row">
                     
                            <a ui-sref="AccountView" class="col-md-2 col-md-offset-1" ng-class="{ active: isActive('/account') }">
                                <i class="fa fa-list-alt"></i>
                                <span>{{ 'account.tabs.label.account' | translate }}</span>
                            </a>

                            <a ui-sref="AccountView.Info" class="col-md-2" ng-class="{ active: isActive('/account/about') }">
                                <i class="fa fa-quote-right"></i>
                                <span>{{ 'account.tabs.label.about' | translate }}</span>
                            </a>

                            <a ui-sref="AccountView.Password" class="col-md-2" ng-class="{ active: isActive('/account/password') }">
                                <i class="fa fa-lock"></i>
                                <span>{{ 'account.tabs.label.password' | translate }}</span>
                            </a>

                            <!--
                            <a ui-sref="AccountView.Networks" class="col-md-2" ng-class="{ active: isActive('/account/networks') }">
                                <i class="fa fa-facebook-square"></i>
                                <span>{{ 'account.tabs.label.networks': translate }}</span>
                            </a>
                            -->

                            <a ui-sref="AccountView.Feed" class="col-md-2" ng-class="{ active: isActive('/account/feed') }">
                                <i class="fa fa-tags"></i>
                                <span>{{ 'account.tabs.label.feed'| translate }}</span>
                            </a>

                            <a ui-sref="AccountView.Settings" class="col-md-2" ng-class="{ active: isActive('/account/settings') }">
                                <i class="fa fa-cogs"></i>
                                <span>{{ 'account.tabs.label.settings' | translate }}</span>
                            </a>
                    
                        </div>

                    </div>



                    <div class="panel-content clear" style="padding:20px;">
                        
                        <section ng-show="flash">
                            <div class="alert alert-danger">
                                <div ng-bind-html="flash">{{ flash }}</div>
                            </div>
                        </section>

                        <div ui-view>
                            <form role="form" id="FormBasic" name="FormBasic" ng-submit="updateAccount()" novalidate>   

                            <div class="row">
                                
                                <div class="col-md-4">
                                    
                                    <div style="padding:0px 20px 0 10px; text-align:center;">
                                        <userimage imageurl="{{profile.image.url}}" imagebox="150"></userimage>
                                        
                                    </div>  

                                    <div style="margin: 10px 0; text-align:center;" class="ie9hide">
                                        <button type="button" class="btn btn-sm btn-default" ng-click="openFileDialog()"><i class="fa fa-camera"></i>  {{ 'account.button.label.picture' | translate }}</button>
                                        <input ng-file-select type="file" id="profile_picture_hidden" class="btn btn-sm" style="display:none;" />
                                    </div>

                                    <div class="progress" ng-show="uploader.progress" class="ie9hide">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>

                                    <p style="margin: 0px 20px; font-size:11px;">{{ 'account.form.image.hint' | translate }}</p>
                                    
                                </div>
                                <div class="col-md-8">

                                    <div class="form-group" ng-class="{ 'has-error' : FormBasic.inUsername.$invalid && !FormBasic.inUsername.$pristine }">
                                        <label for="inUsername">{{ 'account.form.label.username' | translate }}</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">@</span>
                                            <input type="text" class="form-control" id="inUsername" name="inUsername" data-ng-model="profile.username" required readonly="readonly">
                                            <p ng-show="FormBasic.inUsername.$invalid && !FormBasic.inUsername.$pristine" class="help-block">{{ 'account.form.error.username' | translate }}</p>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="local" ng-class="{ 'has-error' : FormBasic.inEmail.$invalid && !FormBasic.inEmail.$pristine }">
                                        <label for="inEmail">{{ 'account.form.label.email' | translate }}*</label>
                                        <input type="text" id="inEmail" name="inEmail" data-ng-model="profile.email" class="form-control" ng-required='local'>
                                        <p ng-show="FormBasic.inEmail.$invalid && !FormBasic.inEmail.$pristine" class="help-block">{{ 'account.form.error.email' | translate }}</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : FormBasic.inGender.$invalid && !FormBasic.inGender.$pristine }">
                                        <label for="inGender">{{ 'account.form.label.gender' | translate }}*</label>
                                        <select id="inGender" name="inGender" class="form-control" ng-model="profile.gender" ng-options="obj.value as obj.text for obj in options.gender" required></select>
                                        <p ng-show="FormBasic.inGender.$invalid && !FormBasic.inGender.$pristine" class="help-block">{{ 'account.form.error.gender' | translate }}</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : FormBasic.inLocation.$invalid && !FormBasic.inLocation.$pristine }">
                                        <label for="inLocation">{{ 'account.form.label.location' | translate }}*</label>
                                        <input type="text" id="inLocation" name="inLocation" data-ng-model="profile.location.displayName" class="form-control" required>
                                        <p ng-show="FormBasic.inLocation.$invalid && !FormBasic.inLocation.$pristine" class="help-block">{{ 'account.form.error.location' | translate }}</p>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : FormBasic.inLanguage.$invalid && !FormBasic.inLanguage.$pristine }">
                                        <label for="inLanguage">{{ 'account.form.label.preflang' | translate }}*</label>
                                        <select id="inLanguage" name="inLanguage" class="form-control" ng-model="profile.lang" ng-options="obj.value as obj.displayName for obj in options.languages" required></select>
                                        <p ng-show="FormBasic.inLanguage.$invalid && !FormBasic.inLanguage.$pristine" class="help-block">{{ 'account.form.error.preflang' | translate }}</p>
                                    </div>
                                </div>

                            </div>

                            <hr>
                            <button type="submit" class="btn btn-sm btn-primary pull-right" ng-disabled="FormBasic.$invalid">{{ 'global.form.button.submit' | translate }}</button>
                        </form>
                        </div>

                    </div>

                </div>

                
            </div>
        </div>
    </div>
</div>