<div class="panel panel-default">
    <div class="panel-heading clear panel-extra-padding">
        <div>{{ 'inbox.header.start' | translate }}</div>
        <h3 style="margin: 0 0 0px 0;"><a ui-sref="ProfileView({ person: recipient })">@{{recipient}}</a></h3>
    </div>
    <div class="panel-body">
        <div class="cbx" style="background-color:#fff;">
            <form role="form" ng-submit="cbxSubmit()">
                <div class="cbx-container clearfix">
                    <div class="cbx-preview pull-left" ng-show="newpost.thumbnail.url" ng-cloak>
                        <img ng-src="{{newpost.thumbnail.url}}" width="64" style="width:64px;" ng-cloak />
                    </div>
                    <div class="cbx-text pull-left" style="width:450px;">
                        <textarea ng-model="newpost.body" ng-trim="false" character-limit="240" force-submit-on-enter="cbxSubmit()" required placeholder="..." rows="3" style="resize: none;"></textarea>
                    </div>    
                </div>

                <div class="cbx-actions">
                    <ul class="clearfix">
                        <li class="ie9hide"><a class="btn btn-sm btn-default" ng-click="openFileDialog()" id="ref_{{conversation.discussion._id}}_btn"><i class="fa fa-camera"></i></a></li>
                        <li class="cbx-chars"><span>{{240 - newpost.body.length}} {{ 'chatterbox.label.remaining' | translate }}.</span></li>
                        <li class="pull-right"><button type="submit" class="btn btn-primary btn-sm" ng-disabled="!canSubmit" ng-trim="false">{{ 'chatterbox.button.label.submit' | translate }}</button></li>
                    </ul>
                </div>

                <div class="cbx-progress">
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>

                    <input ng-file-select type="file" id="ref_{{recipient}}_file" class="btn btn-sm" style="display:none;" />
                </div>
            </form>

        </div>
    </div>
</div>