<div class="panel panel-default">
    <div class="panel-heading clear panel-extra-padding">
        <div>{{ 'inbox.header.started' | translate }} <span am-time-ago="conversation.discussion.published"></span> {{ 'inbox.header.between' | translate }}:</div>
        <h3 style="margin: 0 0 0px 0;">
            <span ng-repeat="recipient in conversation.discussion.recipients | filter: '!' + currentUser.username "><a ui-sref="ProfileView({ person: recipient })">@{{recipient}}</a>, </span>
            and me.
        </h3>
    </div>
    <div class="panel-body">

        <div class="cbx" style="background-color:#fff;">
            <form role="form" ng-submit="cbxSubmit()">
                <div class="cbx-container clearfix">
                    <div class="cbx-preview pull-left" ng-show="newpost.thumbnail.url" ng-cloak>
                        <img ng-src="{{newpost.thumbnail.url}}" width="64" style="width:64px;" ng-cloak />
                    </div>
                    <div class="cbx-text pull-left" style="width:450px;">
                        <textarea ng-model="newpost.body" ng-trim="false" character-limit="240" force-submit-on-enter="cbxSubmit()" required placeholder="..." rows="3" style="resize: none;"></textarea>
                    </div>    
                </div>

                <div class="cbx-actions">
                    <ul class="clearfix">
                        <li class="ie9hide"><a class="btn btn-sm btn-default" ng-click="openFileDialog()" id="ref_{{conversation.discussion._id}}_btn"><i class="fa fa-camera"></i></a></li>
                        <li class="cbx-chars"><span>{{240 - newpost.body.length}} {{ 'chatterbox.label.remaining' | translate }}.</span></li>
                        <li class="pull-right"><button type="submit" class="btn btn-primary btn-sm" ng-disabled="!canSubmit" ng-trim="false">{{ 'chatterbox.button.label.submit' | translate }}</button></li>
                    </ul>
                </div>

                <div class="cbx-progress">
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>

                    <input ng-file-select type="file" id="ref_{{conversation.discussion._id}}_file" class="btn btn-sm" style="display:none;" />
                </div>
            </form>

        </div>
                            
        <div class="discussion-posts-container" style="margin-left:25px;">
            <article ng-repeat="post in conversation.posts">
                <div class="btn-group pull-right" ng-show="post.editable" style="margin-left:10px;">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="textEdit.$show()" ng-hide="textEdit.$visible">{{ 'inbox.post.edit' | translate }}</a></li>
                        <li><a href="" ng-click="deleteConversationComment($index, post._id)">{{ 'inbox.post.delete' | translate }}</a></li>
                    </ul>
                </div>
                <div class="post-timestamp"><span am-time-ago="post.published"></span> <span class="post-in-lang" ng-show="post.lang !== lang">({{ 'discussions.body.origin' | translate }} <b>{{ post.lang | langCode }}</b>)</span></div>
                <userimage imageurl="{{post.user_avatar}}" imagebox="48"></userimage>
                <h4><a ui-sref="ProfileView({ person: post.user })">{{ post.user }}</a> <small>@{{ post.user }}</small></h4>
                <div class="clearfix" style="margin-bottom: 10px;">
                    <a href="{{post.image.url}}" target="_blank" ng-cloak ng-show="post.image.url" class="pull-left" style="margin-right:10px;"><img ng-src="{{post.thumbnail.url}}" ng-show="post.thumbnail.url" ng-cloak></a>
                    <p ng-bind-html="post.body" linkify="yappn" editable-textarea="post.body" onbeforesave="updateConversationComment($index, post._id, $data)" e-form="textEdit" e-rows="5" e-cols="80"></p>
                </div>
            </article>
        </div>
    </div>
</div>
