<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading clear panel-extra-padding">{{ 'inbox.header.title' | translate }}</div>
                    <div class="panel-body">
                        <p>{{ 'inbox.header.didyouknow' | translate }}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="conversation in conversations | limitTo:pageSize">
                            <a ui-sref="Inbox.Show({ conversation: conversation._id })">{{ conversation.recipients.join(', ') }}</a>
                            <p>{{ conversation.last_message.body | characters:40 :true }}</p>

                            <div class="legal" style="margin:0;"><span am-time-ago="conversation.last_message.published"></span></div>
                        </li>
                    </ul>
                    <div class="panel-footer" style="padding-top:0; padding-bottom:0;">
                        <pagination total-items="total" items-per-page="pageSize" max-size="5" page="currentPage" class="pagination-sm" boundary-links="false" rotate="false" num-pages="numPages"></pagination>
                    </div>
                </div>
            </div>
            <div class="col-md-8" ui-view></div>
        </div>
    </div>
</div>