// this is for the ng-comment-box directive

.cbx {

    .cbx-container { background-color: #fff; padding:5px; position: relative; border: 1px solid #e8e8e8; border-bottom: none; }

    .cbx-container {

        .cbx-preview { width: 64px; float:left; margin-right: 5px; }
        
        .cbx-text { width: 530px;float:left; }
        .cbx-text textarea {
            border:     none;
            background: transparent;
            box-shadow: none;
            width:100%;
        }

    }

    .cbx-actions { border: 1px solid #e8e8e8; height: 40px; overflow: hidden;  }
    .cbx-actions ul,
    .cbx-actions li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .cbx-actions li {
        float:left;
        border-left: 1px solid #e8e8e8;
        padding: 5px;
        height: 40px;
    }
    .cbx-actions li:first-child { border-left: none; }
    .cbx-chars { font-size:11px; line-height: 30px; }
    .cbx-chars span { display:block; margin-left:10px;}

    .cbx-progress {
        .progress { box-shadow: none; -webkit-box-shadow: none; height:2px; overflow: hidden; }
    }

}