
.theme-default {

    .panel { box-shadow:0px 0px 4px -2px #000; }

    .panel-heading { background: #caebca; }
    .panel-heading.panel-extra-padding { padding: 20px; }
    .panel-heading.panel-padding { padding: 10px 20px; }
    .panel-heading h1 { margin: 10px 0px 0px 0px; padding:0; font-size: 24px; line-height: 26px; }
    .panel-heading h2 { font-weight:normal; margin: 10px 0px 0px 0px; padding: 0; font-size: 18px; line-height: 22px; }
    .panel-heading img { float:left; max-width: 200px; margin-right:20px }

    .discussion-user { margin: 10px 0 0px 0; padding:0px; }
    .discussion-user .dp {
        background-color: #fff;
        border:4px solid rgba(55,174,37,1);
        transition: all 0.2s ease-in-out;
        margin-right:10px;
        margin-bottom: 0px;
    }

    .media-body { width: 300px; float:left; margin-top: 0; }
    .media-body.pull-down {}
    .media-body {

        h4 { margin: 0; padding:0; margin-top:7px; }
        h4 small { font-size:80%; }
        h5 { margin: 0; padding:0; margin-top: 3px;  }


    }

    .stats { text-align:left; }
    .stats.right { text-align:right; }
    .stats {
        span { display:block; font-size: 20px; color: #caebca }
        label { display:block; font-weight: bold; text-transform: uppercase; font-size: 10px; }
    }

    .add-comment-container { position:relative; background-color: #f5f5f5; border-bottom: 1px solid #e8e8e8; padding-left:40px; padding-right:30px; }
    .add-comment-container .dp,
    .discussion-posts-container article .dp { 
        position:absolute; 
        left:-24px; 
        top: 15px;
        background-color: #fff;
        border:4px solid rgba(55,174,37,1);
        transition: all 0.2s ease-in-out;
        margin-right:10px;
        margin-bottom: 0px;
    }
    .add-comment-container textarea { resize:none; }

    .discussion-posts-container {
        padding:0;
        border-left: 4px solid #caebca;
    }

    .discussion-posts-container article { display:block; position: relative;padding: 10px 40px 10px 40px; border-top: 1px solid #e8e8e8; min-height:80px; }
    .discussion-posts-container article:first-child { border-top: none; }
    .discussion-posts-container article .dp { top: 16px; left: -28px; }

    .post-timestamp { float:right; font-size:11px; color: #999; }

    .post-actions { }
    .post-actions a { color: #e8e8e8; display: inline-table; margin-right: 5px; }
    .post-actions a.active { color: #2a6496; }

    .discussion-actions { clear:both; margin-top: 10px; float:right; margin-right:20px; }
    .discussion-actions a { color: #999; }

    .characterLimit { font-size:11px; margin-left:10px; color: #999; margin-top:5px;}

    .imageUpload { margin-top:5px;}
    .imageUpload a { color: #999; }
}

.join-now {
    background-color: #009949;
    text-align:center;
    color: #fff;
}

.join-now a {
    color: #caebca;
} 

#YappnNewPostsBar { display:block; padding: 8px 0; text-align:center; color: #fff; background-color: #caebca; color: #444; font-size:11px; text-transform: uppercase;  }

.preview-text { color: #d4d4d4; line-height:18px; }
.preview-text i { font-size: 18px; }

.post-image-box { padding:5px; border:1px solid #f5f5f5; margin-right:10px;  }

.edit-label { padding: 3px 10px 3px 20px; text-transform: capitalize; color: #ccc; }

.social-share a { width: 59px; float:left; display: block; position: relative;  }
.social-share a img { display: block; width: 59px; }

.post-in-lang {  }