#exploreContainer {
    min-height: 100%;
    margin: 0 15px 20px 15px;
    position:relative;
}

#exploreSidebar {
    position:fixed;
    top: 70px;
    left: 20px;
    width: 220px;
    padding:10px;
    // background-color: #caebca;
}

#exploreFooter {
    position:fixed;
    bottom: 15px;
    left: 10px;
    width: 220px;
    padding:20px;
    font-size:11px;
}

#exploreFooter ul,
#exploreFooter ul li {
  margin: 0;
  padding:0;
  list-style: none;
}



.explore-user-green { background-color: #caebca;}
.modal-footer { margin-top:0; }
.modal-footer small { font-size:9px; }

#exploreContent {
    padding: 10px;
    position: relative;
    min-height:200px;
    margin-left: 260px;
}

#posts:hover a {
  // opacity: 0.3;
}

#posts .item a:hover {
  // opacity: 1;
}

.no-underline:hover,
.no-underline:hover * { text-decoration: none; }

.dp
{
    background-color: #fff;
    border:10px solid rgba(55,174,37,1);
    transition: all 0.2s ease-in-out;
}

.user-name-summary { margin-top:5px;}
.user-name-summary h2 { margin: 0px 0px 0px 10px; padding:0px 0px 0px 0px; font-weight: 300; font-size:20px; }
.user-name-summary h5 { margin: 0px 0px 10px 10px; padding:0px 0px 0px 0px; font-weight: 300px; font-size:16px; }

#YappnNewDiscussionsBar {
    margin-top:10px;
    display:block; 
    padding: 8px 0; 
    text-align:center; 
    color: #fff; 
    background-color: #caebca; 
    color: #444; 
    font-size:11px; 
    text-transform: uppercase; 
}

.explore-view-controls {
    position:absolute;
    right:20px;
    bottom: 10px;
}

.people-search-bar { margin: 0; padding: 0; list-style: none; }
.people-search-bar li { margin: 0; padding: 0; list-style: none; float:left; margin-right:10px; margin-bottom:10px;}
