footer ul,
footer ul li {
    list-style: none;
    margin:0;
    padding:0;
}
footer ul { margin-top: 8px;}
footer ul li { display: inline-block; margin-right:10px; }

.footer-content {
    background-color: #fff;
}

.footer-content h4 {
    color: #555;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.footer-content p {
    font-weight: 300;
    font-size: 17px;
    color: #757575;
    text-align: center;
    margin-top:20px;
}