

.discussion-isotope { width: 180px; }
.discussion-isotope .mask {
    width: 100%;
    height:100%;
    z-index:9;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(202, 235, 202, 0.9);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.discussion-isotope:hover .mask { opacity: 1; transition-delay: 0.1s;  }

.discussion-isotope .mask .info { font-size:32px; color: rgba(255,255,255,0.8); height:32px; width:32px; left: 50%; top: 50%; margin: -16px 0 0 -16px; display: block; position: absolute; }

  
.discussion-isotope h3 {
    margin: 0px 0px 0px 0px;
    padding: 0;
    font-size:12px;
    line-height: 15px;
}

.discussion-isotope h3.popover-title {
  padding: 10px;
}

.discussion-isotope p {
    margin: 4px 0px 0px 0px;
    padding: 0;
    font-size:11px;
    line-height: 14px;
}

.isotope-footer {
    background-color: #37AE25;
    color:#fff;
    font-size:10px;
    padding: 5px 5px;
}

.fanhubs .isotope-footer {
    background-color: #428bca;
    text-transform: uppercase;
}

.discussion-isotope .thumbnail {
    padding: 0;
}


.caption-inverse {
    background-color: #e8e8e8;
}

.section-share {
  display: block;
  margin: 7px 0 0px 0;
  padding: 0px 0 0;
}
.section-share a {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 2px 0 0;
  background: transparent url('/images/share.png') no-repeat 0 0;
}

.section-share a.share-twitter {
  background-position: 0 -16px;
}
.section-share a.share-reply {
  background-position: 0 -32px;
}
.section-share a.share-retweet {
  background-position: 0 -48px;
}
.section-share a.share-favorite {
  background-position: 0 -64px;
}
.section-share a.share-google {
  background-position: 0 -80px;
}
.section-share a.share-linkedin {
  background-position: 0 -96px;
}
.section-share a.share-facebook:hover {
  background-position: -16px 0;
}
.section-share a.share-twitter:hover {
  background-position: -16px -16px;
}
.section-share a.share-reply:hover {
  background-position: -16px -32px;
}
.section-share a.share-retweet:hover {
  background-position: -16px -48px;
}
.section-share a.share-favorite:hover {
  background-position: -16px -64px;
}
.section-share a.share-google:hover {
  background-position: -16px -80px;
}
.section-share a.share-linkedin:hover {
  background-position: -16px -96px;
}

.isotope-discussion-info { font-weight: normal; font-size:10px; text-transform: uppercase; line-height: 10px; margin: 0px; padding:0; color: #999; }


