.leaderboard {

    .lb-position { width:20px; }
    .lb-user-image { width: 40px; }
    .lb-user-info {}
    .lb-points { width:80px; text-align: right; font-weight: bold; }
    .rank { font-size:60px; color: #e8e8e8;}

    .dp {
        border:2px solid rgba(55,174,37,0.5);
    }

}

.pad { padding: 20px 40px; }
.pad b { font-size: 18px;}