.navbar-brand {
    padding: 5px 10px 0px 30px;
    text-align:center;
    height:auto;
}

.navbar-nav li {
    line-height: 40px;
    margin-bottom: -1px;
    border-left: 1px solid #e7e7e7;
}

.navbar-nav li ul li {
    border-left: none;
}

.navbar-default { min-height: 20px; position:9999; }

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background: #fff;
    color: #000;
}

.page-welcome { background: #fff url('../img/background.jpg') top center no-repeat; }
.page-welcome .navbar-default .navbar-nav > .active > a, 
.page-welcome .navbar-default .navbar-nav > .active > a:hover, 
.page-welcome .navbar-default .navbar-nav > .active > a:focus {
    background: #9ed3f5;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    background: #37AE25;
    color: #FFF;
}

.navbar-default .navbar-nav > .info { 
    border:none;
}

.navbar-default .navbar-nav > .info > a:hover {
    background: inherit;
    color: inherit;
}

.navbar-nav { margin:0; }