.network {
    padding: 10px;
    color: #fff;
    font-weight:bold;
    background-color: #3B5998;
    display: block;
}
.network.network-facebook { background-color: #3B5998; }
.network.network-twitter { background-color: #00ACED; }
.network.network-google { background-color: #DD4B39; }
.network.network-foursquare { background-color: #0CBADF; }
.network.network-instagram { background-color: #3F729B; }
.network.network-linkedin { background-color: #3399CC; }