.window-mask {
    position:fixed;
    background-color: #e8e8e8;
    opacity: 0.95;
    filter: alpha(opacity=95);
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    overflow:hidden;
    display: none;
    z-index:9990;
}

// .page-upgrade .window-mask {
//     background: rgba(143,27,15,1);
//     opacity: 0.95;
//     filter: alpha(opacity=95);
// }

.page-upgrade .panel {
    border:none;
    background-color: #e74c3c;
}

.noscroll > .window-mask {
    display: block;
}

#window-layout {
    position:fixed;
    top: 0px;
    left: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    width:100%;
    height:100%;
    z-index:9995;
}

.noscroll > #window-layout {
    display: block;
}

.window-close-btn {
    position:fixed;
    top: 5px;
    right:25px;
    color:#888;
    font-size:22px;
}

.window-content .container {
    width:960px;
    margin: 40px auto 0 auto;
}

.window-content .container .page-header h1 {
    font-weight:normal;
}