.profile-info-bar,
.profile-info-bar li { margin: 0; padding: 0; list-style: none; }

.profile-info-bar { display: block; }
.user-name-summary p { display: block; margin-top:10px; }

.profile-info-bar li { display: inline-block; margin-right:10px; }

ul.user-info-bar { margin:0; padding: 0; list-style:none; }
ul.user-info-bar li { line-height:18px; margin: 0; padding: 15px 0px 10px 20px; color: #444; list-style:none; display:inline-block; text-align:left; }
ul.user-info-bar li span { display:block; font-size:18px;font-weight:700; letter-spacing:0px; }


.profile-comment-view { border-top:1px solid #e8e8e8; padding-top:20px; margin-bottom:20px;  }
.profile-comment-view:first-child { border-top: none; padding-top:0; }
.profile-comment-view h4 { margin: 0px 0px 20px 0px; font-weight: normal; font-size:16px; }


.badge, .badge li { margin:0; padding:0; list-style: none; background-color: transparent; }
.badge li { float:left; width: 64px; margin: 10px 20px 0px 0px; }
.badge li img { width: 64px;}

.friends-info {

    h5 { margin: 10px 0px 0px 0px; padding: 0; color: #777; font-weight: bold; }
    h6 { margin: 0px 0px 0px 0px; padding: 0; color: #777; font-weight: normal; }

}

.panel-socials td { vertical-align: middle; }
.panel-socials i { font-size: 18px; color:#e8e8e8; }


.panel-account-nav { padding:40px;}
.panel-account-nav a { display:block; text-align: center; color: #999; }
.panel-account-nav a.active { color: #000; }
.panel-account-nav a span { display: block; margin-top:10px; line-height: 14px; }
.panel-account-nav a i { font-size:48px;}



.delete-account { color: #a94442; }
