input:focus { outline: none; }

.master-search-field {
    padding: 10px 10px 10px 60px; 
    font-size: 22px;
    width:100%;
    border: none;
    border-bottom:1px solid #e8e8e8;
    background: transparent url('/images/search-bg.png') bottom left no-repeat;
}

.search-other {
    margin: 10px 0 0 0;
}