html,
body {
  height: 100%;
  background:#fff;
  font-size:12px;
  /* The html and body elements cannot have any padding or margin. */
}

#st-container { }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
{
    display: none !important;
}

#splash-page.ng-cloak {
    display:block;
}

input:hover, input:focus, textarea:focus, textarea:hover { outline: 0 none; }

body.noscroll {
  overflow: hidden;
}

#wrapContent {
  position:relative;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -350px;
  /* Pad bottom by footer height */
  padding: 0 0 350px;
}

h4 { font-weight: normal; }

#view {
    padding-top: 10px;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.navbar { border-right:none; }

.uppercase { text-transform: uppercase; font-size:11px; }

.container {
    max-width: none !important;
    width: 970px;
}

.callout {
    background-color: #37AE25;
    padding:10px 0;
    text-align: center;
    font-size:25px;
    color: #fff;
    font-weight: 200;
}

.callout > .container > span {
    margin-left: 25px;
}

.callout > .container > span:first-child {
    margin-left: 0px;
}

.featurette {
    margin: 40px auto 80px auto;
}

.featurette-heading { color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}

.featurette-divider { background-color: none; border:none;}

.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: relative;
    margin: 20px 0 40px; 
}
.divider:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%);
    background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250, 250, 250, 0) 50%, rgba(255, 255, 255, 0.75) 100%); 
}
@media (max-width: 991px) {
    .divider {
        margin: 55px 0 35px; 
    }
}

.legal { font-size:10px; line-height:12px; color: #d4d4d4; margin: 10px 5px; }

.container-full {
  margin: 0 auto;
  width: 100%;
}

.wordwrap, .wordwrap a, a.wordwrap {
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
.explore-header { margin-bottom:20px; }

.explore-header h1 {
  border-collapse: separate;
  color: rgb(48, 48, 48);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  height: 18px;
  letter-spacing: normal;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: -webkit-left;
  zoom: 1;
}


#exploreSidebar .nav > li > a { padding: 5px 15px; border-top: 1px solid #f5f5f5; }
.nav-stacked > li + li { margin-top: 0; }


.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: rgba(55,174,37,0.5);
    color:#fff;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-ul-styling,
.no-ul-styling li { margin: 0; padding:0; list-style: none; }

.tooltip {
  z-index: 99999;
  zoom:1;
}

.dropdown-menu { font-size: 12px; }