<div class="window-content theme-default">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <form role="form" ng-submit="update()">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">
                        
                        <section ng-show="flash">
                            <div class="alert alert-danger">
                                <div ng-bind-html="flash">{{ flash }}</div>
                            </div>
                        </section>

                        <div class="panel panel-default">
                            <div class="panel-heading clear panel-extra-padding">

                                <img ng-show="discussion.image.url" ng-src="{{ discussion.image.url }}">

                                <div>
                                    <h1 ng-bind-html="discussion.displayName"></h1>
                                    <h2 ng-bind-html="discussion.content"></h2>
                                </div>

                                <div class="discussion-user">
                                    <a class="pull-left" ui-sref="ProfileView({ person: currentUser.username })">
                                        <userimage imageurl="{{currentUser.avatar}}" imagebox="40"></userimage>
                                    </a>
                                    <div class="media-body clear">
                                        <h4 class="media-heading">{{ currentUser.displayName}} <small><a ui-sref="ProfileView({ person: currentUser.username })">@{{currentUser.username }}</a></small></h4>
                                        <h5>{{ 'discussions.body.started' | translate }} <b><span am-time-ago="discussion.published"></span></b> <span class="post-in-lang">({{ 'discussions.body.origin' | translate }} <b>{{ discussion.lang | langCode }}</b>)</span></h5> 
                                    </div>
                                </div>

                            </div>

                            <!-- Authenticated View -->
                            <div class="panel-body preview-text clearfix" ng-cloak>
                                <i class="fa fa-arrow-circle-up pull-left"></i> 
                                <div class="pull-left">{{ 'discussions.body.preview' | translate}}</div>
                            </div>

                        </div>

                        <div class="panel panel-default">
                        
                            <!-- Authenticated View -->
                            <div class="panel-body" ng-cloak>

                                <div class="form-group">
                                    <label for="displayName">{{ 'discussions.form.label.title' | translate }}</label>
                                    <input type="text" id="displayName" class="form-control" ng-model="discussion.displayName" maxlength="128" />
                                </div>

                                <div class="form-group">
                                    <label for="displayName">{{ 'discussions.form.label.content' | translate }}</label>
                                    <textarea rows="5" class="form-control" ng-model="discussion.content" maxlength="500"></textarea>
                                </div>

                                

                                <div class="form-group">
                                    <label for="displayName">{{ 'discussions.form.label.tags' | translate }}</label>
                                    
                                    <tags-input ng-model="discussion.tags"
                                        custom-class="bootstrap"
                                        placeholder="{{ 'discussions.form.label.tags.add' | translate }}"
                                        replace-spaces-with-dashes="true"
                                        add-on-comma="true"
                                        add-on-enter="true"
                                        allow-leftover-text="false"
                                        add-on-blur="true"
                                        max-length="20">
                                    </tags-input>
                                    
                                </div>

                                <div class="form-group ie9hide">
                                    <label for="displayName" style="float:none;">{{ 'discussions.form.label.picture' | translate }}</label>
                                    <div class="clearfix">
                                        <a class="btn btn-sm btn-default pull-left" ng-click="openFileDialog()" id="ref_{{id}}_btn" style="margin-right:10px;"><i class="fa fa-camera"></i></a>
                                        <div class="progress pull-left" style="width:200px;margin-top:5px;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                </div>

                                <input ng-file-select type="file" id="ref_{{id}}_file" class="btn btn-sm ie9hide" style="display:none;" />

                                <p class="discussion-rules legal">{{ 'discussions.body.legal' | translate }}</p>

                                <hr>

                                <button type="submit" class="btn btn-primary btn-block" ng-disabled="!canSubmit" ng-trim="false">{{ 'discussions.button.label.submit' | translate }}</button>

                            </div>

                        </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>

