<style>
    .panel, .theme-default .panel { border:0px; box-shadow:none; }
    .navbar { border-left:none;}
    .theme-default .discussion-posts-container article { padding: 10px 10px 10px 30px; }
    .cbx .cbx-container .cbx-text { width: 275px; }
    .theme-default .add-comment-container {
        background:none;
        padding:0px;
    }
    .btn { font-size:12px;}
</style>

<div class="window-content theme-{{rootClass || 'default'}}">
    
    <div class="container-fluid">
        
            <div class="col-md-12">

                <div class="panel panel-default">

                    

                    <!-- Authenticated View -->

                    <div class="panel-body add-comment-container" style="padding-bottom:0;" ng-show="currentUser.id" ng-cloak>
                        
                        <div class="cbx">
                            <form role="form" ng-submit="cbxSubmit()">
                                <div class="cbx-container clearfix">
                                    <div class="cbx-preview" ng-show="newpost.thumbnail.url" ng-cloak>
                                        <img ng-src="{{newpost.thumbnail.url}}" width="64" style="width:64px;" ng-cloak />
                                    </div>
                                    <div class="cbx-text">
                                        <textarea ng-model="newpost.content" ng-trim="false" character-limit="240" force-submit-on-enter="cbxSubmit()" required placeholder="..." rows="3"></textarea>
                                    </div>    
                                </div>

                                <div class="cbx-actions">
                                    <ul class="clearfix">
                                        <li class="ie9hide"><a class="btn btn-sm btn-default" ng-click="openFileDialog()" id="ref_{{discussion.discussion._id}}_btn"><i class="fa fa-camera"></i></a></li>
                                        <li class="cbx-chars"><span>{{240 - newpost.content.length}} {{ 'chatterbox.label.remaining' | translate }}.</span></li>
                                        <li class="pull-right"><button type="submit" class="btn btn-primary btn-sm" ng-disabled="!canSubmit" ng-trim="false">{{ 'chatterbox.button.label.submit' | translate }}</button></li>
                                    </ul>
                                </div>

                                <div class="cbx-progress">
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>

                                    <input ng-file-select type="file" id="ref_{{discussion.discussion._id}}_file" class="btn btn-sm" style="display:none;" />
                                </div>
                            </form>

                        </div>



                    </div>

                    <!-- Not Authenticated View -->

                    <a id="YappnNewPostsBar" ng-show="discussion.available.length" ng-click="mergeNewMessages()">{{discussion.available.length}} {{ 'discussions.body.new' | translate }}</a>
                    
                    <div class="panel-body discussion-posts-container" infinite-scroll='discussion.load()' infinite-scroll-disabled="busy" infinite-scroll-immediate-check="true" infinite-scroll-distance="0">
                        <article ng-repeat="post in discussion.posts">
                            <div class="btn-group pull-right" ng-show="post.editable" style="margin-left:10px;">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="edit-label">{{post.edit}}</li>
                                    <li><a href="" ng-click="textEdit.$show()" ng-hide="textEdit.$visible">{{ 'discussions.link.label.edit' | translate }}</a></li>
                                    <li><a href="" ng-click="removeImage($index, post._id)" ng-cloak ng-show="post.image.url">{{ 'discussions.link.label.removeimage' | translate }}</a></li>
                                    <li><a href="" ng-click="deletePost($index, post._id)">{{ 'discussions.link.label.delete' | translate }}</a></li>
                                </ul>
                            </div>
                            <div class="post-timestamp"><span am-time-ago="post.published"></span> <span class="post-in-lang" ng-hide="post.lang === lang">({{ 'discussions.body.origin' | translate }} <b>{{ post.lang | langCode }}</b>)</span></div>
                            <userimage imageurl="{{post.author.image.url}}" imagebox="48"></userimage>
                            <h5><a href="/people/{{post.author.username}}" target="_blank">{{ post.author.displayName }}</a> <small>@{{ post.author.username }}</small></h5>
                            <div class="clearfix" style="margin-bottom: 10px;">
                                <a href="{{post.image.url}}" target="_blank" ng-cloak ng-show="post.image.url" class="pull-left" style="margin-right:10px;"><img ng-src="{{post.thumbnail.url}}" ng-show="post.thumbnail.url" ng-cloak></a>
                                <p ng-bind-html="post.content | smilies" id="_post{{post._id}}" linkify="yappn" editable-textarea="post.content" onbeforesave="updatePost($index, post._id, $data)" e-form="textEdit" e-rows="5" e-cols="55" title=""></p>
                            </div>
                            <div class="btn-group post-actions" ng-show="{{ currentUser.id && currentUser.id !== post.author._id.toString() }}">
                                <reaction icon="fa-thumbs-up" kind="like" table="forums/comment" collection="post.like" reference="post._id" allow="true"></reaction>
                                <reaction icon="fa-flag" kind="flag" table="forums/comment" collection="post.flag" reference="post._id" allow="false"></reaction>
                                <reaction icon="fa-smile-o" kind="lol" table="forums/comment" collection="post.lol" reference="post._id" allow="false"></reaction>
                            </div>

                        </article>
                    </div>

                </div>
            </div>
            

    </div>
</div>

