<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading clear panel-extra-padding">

                        <!--           


                        <div ng-if="discussion.discussion.masthead.kind == 'iframe'" style="text-align:center;">
                            <iframe ng-src="{{ trustSrc(discussion.discussion.masthead.url) }}" width="{{ discussion.discussion.masthead.width }}" height="{{ discussion.discussion.masthead.height }}" frameborder="no" scrolling="no" allowfullscreen></iframe>
                        </div>

                        <div ng-if="discussion.discussion.masthead.kind == 'image'">
                            <img ng-src="{{ discussion.discussion.masthead.url }}">
                        </div>
                        
                        -->

                        <img ng-show="discussion.discussion.image.url" ng-src="{{ discussion.discussion.image.url }}">
                        
                        <div class="btn-group pull-right" style="margin-left:10px;" ng-show="discussion.discussion.editable">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="edit-label">{{discussion.discussion.edit}}</li>
                                <li><a ui-sref="DiscussionEdit({ discussion: discussion.discussion._id })" ng-hide="textEdit.$visible">{{ 'discussions.link.label.edit' | translate }}</a></li>
                                <li><a href="#" ng-click="deleteDiscussion(discussion.discussion._id, $event)">{{ 'discussions.link.label.delete' | translate }}</a></li>
                            </ul>
                        </div>

                        <div class="pull-left">
                            <h1 ng-bind-html="discussion.discussion.displayName | smilies" title=""></h1>
                            <h2 ng-bind-html="discussion.discussion.content | smilies" title=""></h2>
                            <ul class="tags-list clearfix">
                                <li ng-repeat="tag in discussion.discussion.tags track by $index"><i class="fa fa-tag"></i> <a href="/?search={{tag}}" target="_self">{{tag}}</a></li>
                            </ul>
                        </div>

                        <div class="discussion-user pull-left">
                            <a class="pull-left" ui-sref="ProfileView({ person: discussion.discussion.author.username_idx })">
                                <userimage imageurl="{{discussion.discussion.author.image.url}}" imagebox="48"></userimage>
                            </a>
                            <div class="media-body clear">
                                <h4 class="media-heading">{{ discussion.discussion.author.displayName}} <small><a ui-sref="ProfileView({ person: discussion.discussion.author.username_idx })">@{{discussion.discussion.author.username}}</a></small></h4>
                                <h5>{{ 'discussions.body.started' | translate }} <b><span am-time-ago="discussion.discussion.published"></span></b> <span class="post-in-lang" ng-hide="discussion.discussion.lang === lang">({{ 'discussions.body.origin' | translate }} <b>{{ discussion.discussion.lang | langCode }}</b>)</span></h5>

                            </div>

                            
                        </div>

                        <div class="btn-group post-actions discussion-actions pull-right clear clearfix" ng-show="{{ currentUser.id && currentUser.id !== discussion.discussion.author._id.toString() }}">
                            <reaction icon="fa-thumbs-up" kind="like" table="forums/discussion" collection="discussion.discussion.like" reference="discussion.discussion._id"></reaction>
                            <reaction icon="fa-flag" kind="flag" table="forums/discussion" collection="discussion.discussion.flag" reference="discussion.discussion._id"></reaction>
                            <reaction icon="fa-smile-o" kind="lol" table="forums/discussion" collection="discussion.discussion.lol" reference="discussion.discussion._id"></reaction>
                        </div>

                    </div>

                    <!-- Authenticated View -->

                    <div class="panel-body add-comment-container" style="padding-bottom:0;" ng-show="currentUser.id" ng-cloak>
                        <userimage imageurl="{{currentUser.avatar}}" imagebox="48"></userimage>


                        <div class="cbx">
                            <form role="form" ng-submit="cbxSubmit()">
                                <div class="cbx-container clearfix">
                                    <div class="cbx-preview" ng-show="newpost.thumbnail.url" ng-cloak>
                                        <img ng-src="{{newpost.thumbnail.url}}" width="64" style="width:64px;" ng-cloak />
                                    </div>
                                    <div class="cbx-text">
                                        <textarea ng-model="newpost.content" ng-trim="false" character-limit="240" force-submit-on-enter="cbxSubmit()" required placeholder="..." rows="3"></textarea>
                                    </div>    
                                </div>

                                <div class="cbx-actions">
                                    <ul class="clearfix">
                                        <li class="ie9hide"><a class="btn btn-sm btn-default" ng-click="openFileDialog()" id="ref_{{discussion.discussion._id}}_btn"><i class="fa fa-camera"></i></a></li>
                                        <li class="cbx-chars"><span>{{240 - newpost.content.length}} {{ 'chatterbox.label.remaining' | translate }}.</span></li>
                                        <li class="pull-right"><button type="submit" class="btn btn-primary btn-sm" ng-disabled="!canSubmit" ng-trim="false">{{ 'chatterbox.button.label.submit' | translate }}</button></li>
                                    </ul>
                                </div>

                                <div class="cbx-progress">
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>

                                    <input ng-file-select type="file" id="ref_{{discussion.discussion._id}}_file" class="btn btn-sm" style="display:none;" />
                                </div>
                            </form>

                        </div>



                    </div>

                    <!-- Not Authenticated View -->

                    <div class="panel-body join-now" ng-hide="currentUser.id" ng-cloak>
                        {{ 'chatterbox.noauth' | translate }} <a ui-sref="Login()">{{ 'discussions.button.label.login' | translate }}</a> / <a ui-sref="Register()">{{ 'discussions.button.label.register' | translate }}</a>.
                    </div>

                    <a id="YappnNewPostsBar" ng-show="discussion.available.length" ng-click="mergeNewMessages()">{{discussion.available.length}} {{ 'discussions.body.new' | translate }}</a>
                    
                    <div class="panel-body discussion-posts-container" infinite-div='discussion.load()' can-load="!busy" threshold="50" container="window-layout">
                        <article ng-repeat="post in discussion.posts">
                            <div class="btn-group pull-right" ng-show="post.editable" style="margin-left:10px;">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="edit-label">{{post.edit}}</li>
                                    <li><a href="" ng-click="textEdit.$show()" ng-hide="textEdit.$visible">{{ 'discussions.link.label.edit' | translate }}</a></li>
                                    <li><a href="" ng-click="removeImage($index, post._id)" ng-cloak ng-show="post.image.url">{{ 'discussions.link.label.removeimage' | translate }}</a></li>
                                    <li><a href="" ng-click="deletePost($index, post._id)">{{ 'discussions.link.label.delete' | translate }}</a></li>
                                </ul>
                            </div>
                            <div class="post-timestamp"><span am-time-ago="post.published"></span> <span class="post-in-lang" ng-hide="post.lang === lang">({{ 'discussions.body.origin' | translate }} <b>{{ post.lang | langCode }}</b>)</span></div>
                            <userimage imageurl="{{post.author.image.url}}" imagebox="48"></userimage>
                            <h4><a ui-sref="ProfileView({ person: post.author.username })">{{ post.author.displayName }}</a> <small>@{{ post.author.username }}</small></h4>
                            <div class="clearfix" style="margin-bottom: 10px;">
                                <a href="{{post.image.url}}" target="_blank" ng-cloak ng-show="post.image.url" class="pull-left" style="margin-right:10px;"><img ng-src="{{post.thumbnail.url}}" ng-show="post.thumbnail.url" ng-cloak></a>
                                <p ng-bind-html="post.content | smilies" id="_post{{post._id}}" linkify="yappn" editable-textarea="post.content" onbeforesave="updatePost($index, post._id, $data)" e-form="textEdit" e-rows="5" e-cols="80" title=""></p>
                            </div>
                            <div class="btn-group post-actions" ng-show="{{ currentUser.id && currentUser.id !== post.author._id.toString() }}">
                                <reaction icon="fa-thumbs-up" kind="like" table="forums/comment" collection="post.like" reference="post._id" allow="true"></reaction>
                                <reaction icon="fa-flag" kind="flag" table="forums/comment" collection="post.flag" reference="post._id" allow="false"></reaction>
                                <reaction icon="fa-smile-o" kind="lol" table="forums/comment" collection="post.lol" reference="post._id" allow="false"></reaction>
                            </div>

                        </article>
                    </div>

                </div>
            </div>
            <div class="col-md-3">

                <div class="panel panel-default">
                    
                    <div class="panel-body clear">                     
                    
                        <div com-yappn-ui-common-addthis share-title="discussion.discussion.displayName" share-description="discussion.discussion.content" share-lang="discussion.discussion.lang" share-google-analytics="UA-47219521-1" class="addthis_toolbox addthis_default_style addthis_32x32_style">
                            <a class="addthis_button_facebook"></a>
                            <a class="addthis_button_twitter"></a>
                            <a class="addthis_button_google_plusone_share"></a>
                            <a class="addthis_button_pinterest_share"></a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 stats right">
                                <span>{{ discussion.discussion.views | number:0 }}</span>
                                <label>{{ 'discussions.body.views' | translate }}</label>
                            </div>
                            <div class="col-md-6 stats">
                                <span>{{ discussion.discussion.comments | number:0 }}</span>
                                <label>{{ 'discussions.body.posts' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

