<!DOCTYPE html>
<html>
    <head>
        <title>Transformers 4 - Age of Extinction</title>
        <meta name="description" content="An automobile mechanic and his daughter make a discovery that brings down the Autobots and Decepticons - and a paranoid government official - on them.">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        <style type="text/css">
            body {
                width: 100%;
                overflow-x: hidden;
                font-size:12px;
                line-height:16px;
            }

            .bg {
                background-image: url('https://s3.amazonaws.com/cdn.yappn.com/2.0/optimus.jpg');
                opacity: 1;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }

            #TransformerChatContainer { 
                position: absolute;
                z-index: 9999;
                left: 50px;
                top: 50px;
            }

            #YappnDocs {
                position: absolute;
                z-index: 9999;
                left: 600px;
                top: 50px;
                width: 450px;
            }

        </style>
        
    </head>
    <body>
        <div class="bg"></div>
        <div id="TransformerChatContainer"></div>

        <div id="YappnDocs">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Yappn Integrated Demo <small><i>beta</i></small></h3>
                </div>
                <div class="panel-body">
                    In order to start your own integrated discussion, you must first have an "integrated" account.  Please contact us <a href="mailto:bandit@yappn.com">for an account.</a></td>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">How does it work?</h3>
                </div>
                <div class="panel-body">
                    Once you place the embed javscript file in your webpage, it looks at two required key elements on your page: <code>&lt;title&gt;Transformers 4 - Age of Extinction&lt;/title&gt;</code> and <code>&lt;meta name=&quot;description&quot; content=&quot;...&quot;&gt;</code> tags, to create your discussion.
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Installation</h3>
                </div>
                <div class="panel-body">
                    <p>Create a blank placeholder tag inside your HTML file. For example: <code>&lt;div id=&quot;YappnContainer&quot;&gt;&lt;/div&gt;</code>.</p>
                    <p>Next, before your ending <code>&lt;/body&gt;</code> tag, add the following:</p>
                    <p><code>&lt;script src=&quot;//chat.yappn.com/sdk/integrated/embed.js&quot; \<br>&nbsp;&nbsp;&nbsp;type=&quot;text/javascript&quot;&gt;&lt;/script&gt;</code></p>
                    <p>Then do the following:</p>
                    <p><code>
                        &lt;script type=&quot;text/javascript&quot;&gt;<br>
                        var yp = new YappnIntegrated(&#39;#YappnContainer&#39;);<br>
                        yp.setAccount(&#39;123b48372ne2GGyh876&#39;);<br>
                        yp.setDimensions(500,700);<br>
                        yp.initialize();<br>
                        &lt;/script&gt;
                    </code></p>
                </div>
                 <div class="panel-footer"><b>Note:</b> <a href="http://jquery.com" target="_blank">jQuery 1.11.0</a> or higher is required.</div>
            </div>

        </div>

        <script src="<%- rootUrl %>/sdk/integrated/embed.js" type="text/javascript"></script>
        <script type="text/javascript">
            var yp = new YappnIntegrated('#TransformerChatContainer');
            yp.setAccount('<%= account.id %>');
            yp.setDimensions(500,700);
            yp.setHost('<%- rootUrl %>');
            yp.initialize();
        </script>
    </body>
</html>
