doctype html
html(lang="en")
  head
    title="Yappn Developers"
    link(rel="shortcut icon",href="http://cdn.yappn.com/common-images/favicons/favicon.ico")
    link(rel="icon", href="http://cdn.yappn.com/common-images/favicons/favicon.ico")
    link(rel="stylesheet", href="styles/main.css")
    script(type="text/javascript", src="//code.jquery.com/jquery-2.1.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  body
    div.navbar.navbar-default
      div.navbar-header(style="width:500px;")
        a.navbar-brand(href="/"): img(src="/images/yappn-header-logo.png", width="32")
        span.pull-left(style="margin-top:9px")
          b Yappn 
          sup beta
          | &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Meet • Chat • Engage • Consume

      ul.nav.navbar-nav.navbar-right(style="margin-right:0;")
        li.info: a(href="/people/#{currentUser.username}") Welcome, #{currentUser.displayName}!
        li.dropdown
          a.dropdown-toggle(href="/", data-toggle="dropdown"): i.fa.fa-cog
          ul.dropdown-menu
            li: a(href="/people/#{currentUser.username}") Profile
            li: a(href="/people/#{currentUser.username}/followers") Friends
            li: a(href="/inbox") Inbox
            li.divider
            li: a(href="/account") Settings
            li: a(href="/developer") Developer
            if (currentUser.role === 'admin')
              li: a(href="/admin") Admin

            li.divider
            li: a(href="/logout") Sign Out

    .container
      h1 Coming soon