<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">

            <div class="main well" style="margin-top:0;">

                <section ng-show="flash">
                    <div class="alert alert-danger">
                        <div ng-bind-html="flash">{{ flash }}</div>
                    </div>
                </section>

                <section ng-show="success">
                    <div class="alert alert-success">
                        <div ng-bind-html="success"></div>
                    </div>
                </section>

                <div class="page-header" style="margin-top:0;">
                    <h2 style="margin-top:0;">{{ 'auth.forgot.header.warn' | translate }}</h2>
                    <p>{{ 'auth.forgot.header.small' | translate }}</p>
                </div>



                <form role="form" name="form" ng-submit="submit(form)" novalidate>

                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
                        <label for="inputEmail">{{ 'auth.form.label.email' | translate }}</label>
                        <input type="email" name="email" class="form-control" id="inputEmail" data-ng-model="email" required>
                        <p class="help-block" ng-show="form.email.$error.email && submitted">{{ 'auth.form.email.invalid' | translate }}</p>
                        <p class="help-block" ng-show="form.email.$error.required && submitted">{{ 'auth.form.email.required' | translate }}</p>
                        <p class="help-block" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
                    </div>
                    
                    <button type="submit" class="btn btn-success">{{ 'auth.button.label.send' | translate }}</button>
                </form>    

                <div style="margin-top:25px;">
                    <p>{{ 'auth.body.registered' | translate }} <a ui-sref="Login()">{{ 'auth.button.label.login' | translate }}</a>.</p>
                </div>

            </div>

            

        </div>
    </div>
</div>