<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">

            <div class="main well" style="margin-top:0;">

            <div ng-include="'partials/authentication/providers.html'"></div>

                <form role="form" name="form" ng-submit="login(form)">
                    <div class="form-group">
                        <label for="inputUsernameEmail">{{ 'auth.form.label.email' | translate }}</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" data-ng-model="credentials.email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">{{ 'auth.form.label.password' | translate }}</label>
                        <input type="password" class="form-control" id="inputPassword" data-ng-model="credentials.password" required>
                    </div>

                    <p class="help-block">{{ errors.other }}</p>
                    
                    <button type="submit" class="btn btn-success">{{ 'auth.button.label.login' | translate }}</button>
                </form>    

                <div style="margin-top:25px;">
                    <p>{{ 'auth.body.notregistered' | translate }} <a ui-sref="Register()">{{ 'auth.button.label.register' | translate }}</a>.</p>
                    <p><a ui-sref="Forgot()">{{ 'auth.button.label.forgot' | translate }}</a></p>
                </div>

            </div>

            

        </div>
    </div>
</div>