<div style="padding:20px;">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <button ng-click="facebook()" class="btn btn-lg btn-primary btn-block"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Facebook</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <button ng-click="twitter()" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Twitter</button>
        </div>
    </div>
    <hr>
    <form role="form" name="form" ng-submit="login(form)">
        <div class="form-group">
            <label for="inputUsernameEmail">{{ 'auth.form.label.email' | translate }}</label>
            <input type="text" class="form-control" id="inputUsernameEmail" data-ng-model="credentials.email" required>
        </div>
        <div class="form-group">
            <label for="inputPassword">{{ 'auth.form.label.password' | translate }}</label>
            <input type="password" class="form-control" id="inputPassword" data-ng-model="credentials.password" required>
        </div>

        <p class="help-block">{{ errors.other }}</p>
        
        <button type="submit" class="btn btn-success">{{ 'auth.button.label.login' | translate }}</button> &nbsp;&nbsp; <a href="/forgot" target="_blank">{{ 'auth.button.label.forgot' | translate }}</a>
    </form>    

    <div style="margin-top:5px;">
        {{ 'auth.body.notregistered' | translate }} <a href="/register" target="_blank">{{ 'auth.button.label.register' | translate }}</a>.
    </div>
</div>