<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="/auth/facebook" class="btn btn-lg btn-primary btn-block" target="_self"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Facebook</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="/auth/twitter"  class="btn btn-lg btn-info btn-block" target="_self"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Twitter</a>
    </div>
</div>
<div class="login-or">
    <hr class="hr-or">
</div>