<div class="window-content theme-{{rootClass || 'default'}}">
    <a class="window-close-btn" ui-sref="Index()"><i class="fa fa-times"></i></a>
    <div class="container">
        <div class="row">

            <div class="main well" style="margin-top:0;">
                <div ng-show="YappnConfig.providers.length">
                    <div ng-include="'partials/authentication/providers.html'"></div>
                </div>
                <form role="form" name="form" class="form" ng-submit="register(form)" novalidate>

                    <div class="form-group" ng-class="{ 'has-success': form.displayName.$valid && submitted, 'has-error': form.displayName.$invalid && submitted }">
                        <label for="inputDisplayName">{{ 'auth.form.label.displayName' | translate }}</label>
                        <input type="text" class="form-control" id="inputDisplayName" name="displayName" data-ng-model="newuser.displayName" required>
                        <p class="help-block" ng-show="form.displayName.$error.required && submitted">{{ 'auth.form.displayName.required' | translate }}</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.username.$valid && submitted, 'has-error': form.username.$invalid && submitted }">
                        <label for="inputUsernameEmail">{{ 'auth.form.label.username' | translate }}</label>
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" name="username" id="inputUsernameEmail" data-ng-model="newuser.username" required ng-pattern="/^[a-zA-Z0-9_]+$/">
                        </div>
                        <p class="help-block" ng-show="form.username.$error.required && submitted">{{ 'auth.form.username.required' | translate }}</p>
                        <p class="help-block" ng-show="form.username.$error.pattern && submitted">{{ 'auth.form.username.pattern' | translate }}</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }">
                        <label for="inputPassword">{{ 'auth.form.label.password' | translate }}</label>
                        <input type="password" class="form-control" id="inputPassword" name="password" data-ng-model="newuser.password" required mongoose-error ng-minlength="3">
                        <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">{{ 'auth.form.password.required' | translate }}</p>
                        <p class="help-block" ng-show="form.password.$error.mongoose">{{ errors.password }}</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted, 'has-error': form.email.$invalid && submitted }">
                        <label for="inputEmail">{{ 'auth.form.label.email' | translate }}</label>
                        <input type="email" class="form-control" name="email" id="inputEmail" data-ng-model="newuser.email" required mongoose-error>
                        <p class="help-block" ng-show="form.email.$error.email && submitted">{{ 'auth.form.email.invalid' | translate }}</p>
                        <p class="help-block" ng-show="form.email.$error.required && submitted">{{ 'auth.form.email.required' | translate }}</p>
                        <p class="help-block" ng-show="form.email.$error.mongoose">{{ errors.email }}</p>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">{{ 'auth.form.label.location' | translate }}</label>
                        <input type="text" class="form-control" id="inputLocation" data-ng-model="newuser.location" required>
                    </div>

                    <div class="row">
                        <div class="col-xs-7 col-sm-7 col-md-7">
                            <div class="form-group">
                                <label for="">{{ 'auth.form.label.preflang' | translate }}</label>
                                <select class="form-control" data-ng-model="newuser.lang" required>
                                    <option value="en">English</option>
                                    <option value="af">Afrikaans</option><option value="sq">Albanian</option><option value="ar">Arabic</option><option value="hy">Armenian</option><option value="az">Azerbaijani</option><option value="eu">Basque</option><option value="be">Belarusian</option><option value="bn">Bengali</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option><option value="zhs">Chinese (Simplified)</option><option value="zht">Chinese (Traditional)</option><option value="hr">Croatian</option><option value="cs">Czech</option><option value="da">Danish</option><option value="nl">Dutch</option><option value="eo">Esperanto</option><option value="et">Estonian</option><option value="tl">Filipino</option><option value="fi">Finnish</option><option value="fr">French</option><option value="gl">Galician</option><option value="ka">Georgian</option><option value="de">German</option><option value="el">Greek</option><option value="gu">Gujarati</option><option value="ht">Haitian Creole</option><option value="he">Hebrew</option><option value="hi">Hindi</option><option value="mww">Hmong Daw</option><option value="hu">Hungarian</option><option value="is">Icelandic</option><option value="id">Indonesian</option><option value="ga">Irish</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="kn">Kannada</option><option value="ko">Korean</option><option value="lo">Lao</option><option value="la">Latin</option><option value="lv">Latvian</option><option value="lt">Lithuanian</option><option value="mk">Macedonian</option><option value="ms">Malay</option><option value="mt">Maltese</option><option value="no">Norwegian</option><option value="fa">Persian</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="ro">Romanian</option><option value="ru">Russian</option><option value="sr">Serbian</option><option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="es">Spanish</option><option value="sw">Swahili</option><option value="sv">Swedish</option><option value="ta">Tamil</option><option value="te">Telugu</option><option value="th">Thai</option><option value="tr">Turkish</option><option value="uk">Ukrainian</option><option value="ur">Urdu</option><option value="vi">Vietnamese</option><option value="cy">Welsh</option><option value="yi">Yiddish</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                            <label for="">{{ 'auth.form.label.gender' | translate }}</label>
                            <select class="form-control" data-ng-model="newuser.gender" required>
                                <option value=""></option>
                                <option value="male">{{ 'auth.form.label.gender.male' | translate }}</option>
                                <option value="female">{{ 'auth.form.label.gender.female' | translate }}</option>
                            </select>
                        </div>
                    </div>


    <!--
    input(type="text", id="YpInputBirthMonth", name="birth_mm", class="input-birthday numeric-only", placeholder="MM", maxlength="2", tabindex="4")
                    input(type="text", id="YpInputBirthDay", name="birth_dd", class="input-birthday numeric-only", placeholder="DD", maxlength="2", tabindex="5")
                    input(type="text", id="YpInputBirthYear", name="birth_yy", class="input-birthday numeric-only",  placeholder="YYYY", maxlength="4", tabindex="6")
    -->


                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <label for="">{{ 'auth.form.label.birthdate' | translate }}</label>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <input type="text" name="birth_mm" placeholder="MM" maxlength="2" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <input type="text" name="birth_dd" placeholder="DD" maxlength="2" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group">
                                <input type="text" name="birth_yy" placeholder="YYYY" maxlength="4" class="form-control">
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{ 'auth.form.label.agreement' | translate }}
                        </label>
                    </div>

                    <section ng-show="flash">
                        <div class="alert alert-danger">
                            <div ng-bind-html="flash"></div>
                        </div>
                    </section>

                    <hr>

                    <button type="submit" class="btn btn-success">
                        {{ 'auth.button.label.register' | translate }}
                    </button>
                </form>    

                <div style="margin-top:15px;">
                    <p>{{ 'auth.body.registered' | translate }} <a ui-sref="Login()">{{ 'auth.button.label.login' | translate }}</a>.</p>
                </div>

            </div>

            

        </div>
    </div>
</div>