<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
    <head>

        <title><%= metadata.title %></title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1200, user-scalable=yes">

        <!-- favicons -->
        <link rel="shortcut icon" href="http://cdn.yappn.com/common-images/favicons/favicon.ico"/>
        <link rel="icon" href="http://cdn.yappn.com/common-images/favicons/favicon.ico"/>

        
        <base href="/">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(app) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-smilies/dist/angular-smilies.min.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- Facebook Meta Tags -->
        <meta property="og:image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png"/>
        <meta property="og:url" content='<%= metadata.url %>' />
        <meta property="og:site_name" content="Yappn"/>
        <meta property="og:title" content='<%= metadata.title %>' />
        <meta property="og:description" content='<%= metadata.description %>' />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@YappnCorp">
        <meta name="twitter:title" content="<%= metadata.title %>">
        <meta name="twitter:description" content="<%= metadata.description %>">
        <meta name="twitter:image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png">

        <!-- Google -->
        <meta itemprop="name" content="<%= metadata.title %>"> 
        <meta itemprop="description" content="<%= metadata.description %>"> 
        <meta itemprop="image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png">


        <!-- Everything else SEO -->
        <meta name="description" content="<%= metadata.description %>">
        <meta name="keywords" content="">

   

        <script src="//js.maxmind.com/js/apis/geoip2/v2.0/geoip2.js" type="text/javascript"></script>
        
        <!-- addthis widget -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531627e76c79c99b"></script>

        <!--[if lt IE 10]>
        <style>
            .window-close-btn { right: 45px; }
            .ie9hide { display:none; }
            #TrophyRoomBtn { display:none; }
        </style>
        <![endif]-->

    </head>
    <body class="page-{{page || 'home'}} {{scroll || '' }}" ng-controller="Explore" ng-cloak>

        <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
            
        <div class="window-mask"></div>
        <div id="window-layout" ui-view></div>   

        <div id="st-container" class="st-container">

            <nav class="st-menu st-effect-2" id="menu-1">
                <div class="st-menu-inner">

                <leaderboard limit="25" username="{{ currentUser.username }}">
                    
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            {{ 'leaderboard.title' | translate }}
                        </div>

                        <table class="table table-striped leaderboard">
                            <tbody>
                                <tr ng-repeat="leader in leaders">
                                    <td class='lb-user-info' style="word-break:break-all;"><a ui-sref="ProfileView({ person: leader.member })"><span>@{{leader.member}}</span></a></td>
                                    <td class="lb-points">{{leader.score | number:0}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </leaderboard>

                    


                </div>
            </nav>

            <div class="st-pusher">
                <div class="st-content" id="st-content">
                    <div class="st-content-inner">

                        <div id="wrap">

                                                <!-- Fixed navbar -->
                            <div class="navbar navbar-default">
                               
                                <div class="navbar-header" style="width:500px;">
                                    <a class="navbar-brand" href="/"><img src="/images/yappn-header-logo.png" width="32"></a>
                                    <span class="pull-left" style="margin-top:11px;"><b>Yappn</b> <sup>beta</sup>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ 'global.site.title' | translate }}</span>
                                </div>
                               
                                <ul class="nav navbar-nav uppercase" style="margin-left:10px; display:none;">
                                    <li class="active"><a href="/">{{ 'navbar.button.label.sites.chat' | translate }}</a></li>
                                    <li><a href="http://corporate.yappn.com" target="_blank">{{ 'navbar.button.label.sites.corporate' | translate  }}</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                                    
                                    <li class="info dropdown" ng-show="!currentUser.id">
                                        <a ui-sref="Login()">{{ 'navbar.button.noauth' | translate }}</a>
                                    </li>

                                    <!-- only show when authenticated -->

                                    <li class="info" ng-show="currentUser.id">
                                        <a ui-sref="ProfileView({ person: currentUser.username })">{{ 'navbar.button.authenticated' | translate }}, {{currentUser.displayName}}!</a>
                                    </li>
                                    <li style="padding:0 10px; display:none;">{{online_status_string}}</li>

                                    <li class="dropdown" ng-show="currentUser.id">
                                        <a href="/" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a ui-sref="ProfileView({ person: currentUser.username })">{{ 'navbar.dropdown.profile' | translate }}</a></li>
                                            <li><a ui-sref="ProfileView.Followers({ person: currentUser.username })" translate>{{ 'navbar.dropdown.friends' }}</a></li>
                                            <li><a ui-sref="Inbox" translate>{{ 'navbar.dropdown.messages' }}</a></li>
                                            <li class="divider"></li>
                                            <li><a ui-sref="AccountView" translate>{{ 'navbar.dropdown.settings' }}</a></li>
                                            <li ng-show="currentUser.id && metaFunctions.developer"><a href="/developer" target="_blank">Developer</a></li>
                                            <li ng-show="currentUser.id && metaFunctions.admin"><a href="/admin" target="_blank">Admin</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="logout()" translate>{{ 'navbar.dropdown.logout' }}</a></li>
                                        </ul>
                                    </li>
                                    <li class="ie9hide" id="TrophyRoomBtn"><a class="menu-toggle" data-effect="st-effect-2"><i class="fa fa-trophy"></i></a></li>
                                </ul>


                              
                            </div>

                            

                            <!-- content here -->

                            <div id="view">



                                <div id="exploreContainer">
                                    


                                    <div id="exploreFooter">
                                        <p ng-hide="currentUser.id">{{ 'global.site.motto' | translate }}</p>
                                        

                                        <div class="section-share clearfix">
                                            <a href="https://www.facebook.com/pages/Yappn/140807399411518" class="share-facebook" target="_blank"></a>
                                            <a href="https://twitter.com/yappnCorp" class="share-twitter" target="_blank"></a>
                                        </div>
                                        <p style="margin-top:8px;">
                                           <a href="http://yappn.com/terms-and-conditions" target="_blank" translate>{{ 'explore.sidebar.button.label.terms' }}</a> • 
                                           <a href="http://yappn.com/faq" target="_blank" translate>{{ 'explore.sidebar.button.label.faq' }}</a> • 
                                           <a href="http://yappn.com" target="_blank" translate>{{ 'explore.sidebar.button.label.corporate' }}</a> • 
                                           <a href="http://yappn.com/?page_id=2818" target="_blank" translate>{{ 'explore.sidebar.button.label.contact' }}</a>
                                        </p>
                                        <div style="margin-top:10px;">
                                            <select id="YpDropDownOfLanguages" name="languages" class="form-control input-sm" ng-change="updateUserSelectedLanguage()" ng-model="user_selected_lang" ng-options="obj.value as obj.displayName for obj in languages" required></select>
                                        </div>
                                    </div>


                                    <div id="exploreSidebar" ng-show="currentUser.id" ng-cloak>
                                    
                                        <div class="thumbnail" style="padding: 0">
                                            <div class="explore-user-green">
                                                <div style="padding:20px 10px 0 10px; text-align:center;">
                                                    <a ui-sref="ProfileView({ person: currentUser.username })">
                                                        <userimage imageurl="{{currentUser.avatar}}" imagebox="150"></userimage>
                                                    </a>
                                                </div>
                                                <div class="caption user-name-summary">
                                                    <h2>{{ currentUser.displayName }}</h2>
                                                    <h5>@{{ currentUser.username }}</h5>
                                                </div>
                                            </div>
                                            <div class="modal-footer" style="text-align: left">
                                                <div class="row uppercase">
                                                    <div class="col-md-4"><b>{{currentUser.points_balance | number: 0 }}</b><br/><small><a ui-sref="ProfileView.Badges({ person: currentUser.username })">{{ 'explore.profile.link.label.coins' | translate }}</a></small></div>
                                                    <div class="col-md-4"><b>{{currentUser.followers | number: 0 }}</b><br/><small><a ui-sref="ProfileView.Followers({ person: currentUser.username })">{{ 'explore.profile.link.label.friends' | translate }}</a></small></div>
                                                    <div class="col-md-4"><b>{{currentUser.post_count | number: 0 }}</b><br/><small><a ui-sref="ProfileView.Comments({ person: currentUser.username })">{{ 'explore.profile.link.label.posts' | translate }}</a></small></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div id="exploreContent">

                                        <!--[if lt IE 10]>
                                        <div class="alert alert-danger" style="margin:10px;">
                                            You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to enjoy all of yappn's features. 
                                        </div>
                                        <![endif]-->

                                        <div class="col-md-12" style="padding-left:0; margin-bottom:20px; float:none;margin-top:0; ">
                                            <input type="text" ng-model="search_text" class="master-search-field" placeholder="{{ 'explore.search.form.label.criteria' | translate }}" character-limit="60" />
                                            <p class="search-other" ng-show="search_text"><a href="#" ng-click="clearSearchResults($event)">{{ 'explore.link.clear' | translate }}</a>&nbsp;&bull;&nbsp;{{ 'explore.search.body.noresults' | translate }} <a ui-sref="Start">{{ 'explore.search.body.start' | translate }}</a>.</p>
                                        </div>

                                        <div ng-hide="search_text" class="col-md-12" style="padding-left:0; margin-bottom:0; padding-bottom:0;float:none; position:relative;">
                                            <tabset>
                                                <tab active="tabs.feed.active" ng-click="changeFilter('')" ng-show="currentUser.id"><tab-heading>{{ 'explore.tabs.label.feed' | translate }}</tab-heading></tab>
                                                <tab active="tabs.recent.active" ng-click="changeFilter('recent')"><tab-heading>{{ 'explore.tabs.label.recent' | translate }} <span class="label label-danger" ng-show="discussions.available.length">{{discussions.available.length}}</span></tab-heading></tab>
                                                <tab active="tabs.popular.active" ng-click="changeFilter('popular')"><tab-heading>{{ 'explore.tabs.label.trending' | translate }}</tab-heading></tab>
                                            </tabset>
                                        </div>

                                        <div class="loading" ng-hide="!discussions.busy">Loading&#8230;</div>


                                        <div class="page-header" ng-show="search_text && people.results.length && !discussions.busy">
                                            <h4>{{ 'explore.results.people' | translate }} <b>{{search_text}}</b>&nbsp;&nbsp;<small ng-show="people.more">{{ 'explore.results.people.toomany' | translate }}</small></h4>
                                        </div>

                                        <ul class="people-search-bar clearfix" ng-show="search_text && people.results.length && !discussions.busy">
                                            <li ng-repeat="person in people.results"><a ui-sref="ProfileView({ person: person.username_idx })" popover="<b>{{person.displayName}}</b><br>@{{person.username_idx}}" popover-trigger="mouseenter"><userimage imageurl="{{person.image.url}}" imagebox="64"></userimage></a></li>
                                        </ul>

                                        <div class="page-header" ng-show="search_text && discussions.results.length && !discussions.busy">
                                            <h4>{{ 'explore.results.discussions' | translate }} <b>{{search_text}}</b></h4>
                                        </div>

                                        <div style="margin-top:20px;" class="row" infinite-div='discussions.load()' can-load="discussions.canLoad" threshold="100" container="st-content" masonry="{ transitionDuration: '0.1s' }">
                                        <!-- <div style="margin-top:20px;" id="posts" class="row" masonry="{ transitionDuration: '0' }" infinite-scroll="discussions.load()" infinite-scroll-disabled="!discussions.canLoad"> -->
                                            
                                            <div ng-show="!discussions.results.length && tabs.feed.active" class="col-md-8 col-md-offset-2 well">
                                                <p>{{ 'discussions.body.myfeedempty' | translate }}</p>
                                                <a ui-sref="AccountView.Feed" class="btn btn-info">{{ 'discussions.link.label.getstarted' | translate }}</a>
                                            </div>
                                            
                                            <div class="col col-md-3 discussion-isotope item masonry-brick" ng-repeat="discussion in discussions.results">
                                                
                                                <div class="thumbnail no-underline" style="position:relative;" popover-placement="top" popover-title="{{ discussion.last_comment.published | amCalendar}} -- @{{ discussion.last_comment_by.username }} {{ 'discussions.body.lastcomment.pre' | translate }} ..." popover="{{ discussion.last_comment.content |  characters:80 :true }}" popover-trigger="mouseenter">

                                                    <div style="margin:3px;" ng-show="discussion.image.url">
                                                        <img ng-src="{{discussion.image.url}}" style="width:100%;">
                                                    </div>

                                                    <div class="caption {{!discussion.image.url || 'caption-inverse' }}">
                                                        <h3><a ui-sref="DiscussionView({ discussion: discussion._id })" ng-bind-html="discussion.displayName">{{ discussion.displayName }}</a></h3>
                                                        <p class="wordwrap" ng-bind-html="discussion.content | characters:80 :true"></p>
                                                        <div style="clear:both;"></div>


                                                        <div class="isotope-discussion-info">
                                                            <hr style="margin: 10px 0 10px 0;">
                                                            <div class="row">
                                                                <div class="col col-md-6"><i class="fa fa-eye"></i> {{ discussion.views | number:0 }} </div>
                                                                <div class="col col-md-6" style="text-align:right;">{{ discussion.comments | number:0 }} <i class="fa fa-comment"></i></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!-- <div class="isotope-footer">
                                                        <i class="fa fa-clock-o"></i> <span am-time-ago="discussion.published"></span>
                                                    </div> -->

                                                </div>
                                            </div>

                                        </div> 

                                    </div>
                                </div>





                            </div>

                        <!-- /content here -->
                        </div>

                    </div> <!-- /st-content-inner -->
                </div> <!-- /st-content -->
            </div> <!-- /st-pusher -->
        </div>
        


        <!-- public static configuration data for our angular app  -->
        <script type="text/javascript">
            YAPPN_CONFIG = '<%- yappnConfig %>';
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47219521-3', 'yappn.com');
        </script>

        <!--[if lt IE 10]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js(app) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-smilies/dist/angular-smilies.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/get-style-property/get-style-property.js"></script>
        <script src="bower_components/get-size/get-size.js"></script>
        <script src="bower_components/eventie/eventie.js"></script>
        <script src="bower_components/doc-ready/doc-ready.js"></script>
        <script src="bower_components/eventEmitter/EventEmitter.js"></script>
        <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
        <script src="bower_components/matches-selector/matches-selector.js"></script>
        <script src="bower_components/outlayer/item.js"></script>
        <script src="bower_components/outlayer/outlayer.js"></script>
        <script src="bower_components/masonry/masonry.js"></script>
        <script src="bower_components/imagesloaded/imagesloaded.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(app) scripts/vendor2.js -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbuild -->

        <!-- build:js(app) scripts/vendor3.js -->
        <script src="scripts/vendors/faye.js"></script>
        <script src="scripts/vendors/async.js"></script>
        <script src="scripts/vendors/moment-with-langs.js"></script>
        <script src="scripts/vendors/angular-checklist.js"></script>
        <script src="scripts/vendors/angular-fileupload.js"></script>
        <script src="scripts/vendors/angular-linkify.js"></script>
        <script src="scripts/vendors/angular-masonry.js"></script>
        <script src="scripts/vendors/angular-toaster.js"></script>
        <script src="scripts/vendors/angular-truncate.js"></script>
        <script src="scripts/vendors/angular-translate.js"></script>
        <script src="scripts/vendors/angular-moment.js"></script>
        <script src="scripts/vendors/angular-faye.js"></script>
        <script src="scripts/vendors/angular-yappn.js"></script>
        <script src="scripts/vendors/angulartics.js"></script>
        <script src="scripts/vendors/angulartics-ga.js"></script>
        <script src="scripts/vendors/ng-infinite-scroll.js"></script>
        <script src="scripts/vendors/http-throttler.js"></script>
        <script src="scripts/vendors/lrInfiniteScroll.js"></script>
        <script src="scripts/vendors/oauth.io.js"></script>
        <script src="scripts/vendors/sidebar.js"></script>
        <script src="scripts/vendors/ui-router.js"></script>
        <script src="scripts/vendors/xeditable.js"></script>
        <script src="scripts/vendors/ng-tags-input.js"></script>
        <script src="scripts/vendors/stacktrace.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <!-- directives -->
        <script src="scripts/directives/addthis.js"></script>
        <script src="scripts/directives/connection.js"></script>
        <script src="scripts/directives/force_submit.js"></script>
        <script src="scripts/directives/infinite_scroll_div.js"></script>
        <script src="scripts/directives/leaderboard.js"></script>
        <script src="scripts/directives/max_characters.js"></script>
        <script src="scripts/directives/notifications.js"></script>
        <script src="scripts/directives/password_check.js"></script>
        <script src="scripts/directives/reactions.js"></script>
        <script src="scripts/directives/startfrom.js"></script>
        <script src="scripts/directives/userimage.js"></script>
        <script src="scripts/directives/youtube.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>

        <!-- services -->
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/errors.js"></script>
        <script src="scripts/services/faye.js"></script>
        <script src="scripts/services/flash.js"></script>
        <script src="scripts/services/online.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/yappn-config.js"></script>

        <!-- controllers -->
        <script src="scripts/controllers/explore.js"></script>
        <script src="scripts/controllers/loader.js"></script>

        <script src="scripts/controllers/account/edit.js"></script>
        <script src="scripts/controllers/account/feed.js"></script>
        <script src="scripts/controllers/account/info.js"></script>
        <script src="scripts/controllers/account/networks.js"></script>
        <script src="scripts/controllers/account/password.js"></script>
        <script src="scripts/controllers/account/settings.js"></script>

        <script src="scripts/controllers/auth/facebook.js"></script>
        <script src="scripts/controllers/auth/forgot.js"></script>
        <script src="scripts/controllers/auth/login.js"></script>
        <script src="scripts/controllers/auth/register.js"></script>
        <script src="scripts/controllers/auth/twitter.js"></script>

        <script src="scripts/controllers/discussions/create.js"></script>
        <script src="scripts/controllers/discussions/edit.js"></script>
        <script src="scripts/controllers/discussions/show.js"></script>

        <script src="scripts/controllers/inbox/compose.js"></script>
        <script src="scripts/controllers/inbox/conversation.js"></script>
        <script src="scripts/controllers/inbox/view.js"></script>

        <script src="scripts/controllers/profile/badges.js"></script>
        <script src="scripts/controllers/profile/comments.js"></script>
        <script src="scripts/controllers/profile/followers.js"></script>
        <script src="scripts/controllers/profile/following.js"></script>
        <script src="scripts/controllers/profile/view.js"></script>

        <!-- load -->
        <script src="scripts/router.js"></script>
        <script src="scripts/bootstrap.js"></script>
        <!-- endbuild -->    
        
    </body>
</html>