<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
    <head>

        <title><%= metadata.title %></title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=yes">

        <!-- favicons -->
        <link rel="shortcut icon" href="http://cdn.yappn.com/common-images/favicons/favicon.ico"/>
        <link rel="icon" href="http://cdn.yappn.com/common-images/favicons/favicon.ico"/>

        
        <base href="/">
        
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(app) styles/vendor-integrated.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-smilies/dist/angular-smilies.min.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css({.tmp,app}) styles/main-integrated.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- Facebook Meta Tags -->
        <meta property="og:image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png"/>
        <meta property="og:url" content='<%= metadata.url %>' />
        <meta property="og:site_name" content="Yappn"/>
        <meta property="og:title" content='<%= metadata.title %>' />
        <meta property="og:description" content='<%= metadata.description %>' />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@YappnCorp">
        <meta name="twitter:title" content="<%= metadata.title %>">
        <meta name="twitter:description" content="<%= metadata.description %>">
        <meta name="twitter:image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png">

        <!-- Google -->
        <meta itemprop="name" content="<%= metadata.title %>"> 
        <meta itemprop="description" content="<%= metadata.description %>"> 
        <meta itemprop="image" content="https://s3.amazonaws.com/cdn.yappn.com/common-images/favicons/144-retina-ipad.png">


        <!-- Everything else SEO -->
        <meta name="description" content="<%= metadata.description %>">
        <meta name="keywords" content="">


        <!--[if lt IE 10]>
        <style>
            .window-close-btn { right: 45px; }
            .ie9hide { display:none; }
            #TrophyRoomBtn { display:none; }
        </style>
        <![endif]-->

        <style>
            .modal-sm { width:300px; margin-left: -150px; position: absolute; left: 50%; }
        </style>

    </head>
    <body class="page-{{page || 'home'}} {{scroll || '' }}" ng-controller="IntegratedController" ng-cloak>

        <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

        <div class="navbar navbar-default clearfix navbar-fixed-top" style="padding: 2px 0;">              
            <div class="navbar-header" style="width:200px; float:left;">
                <a class="navbar-brand" href="{{base}}" target="_blank"><img src="/images/yappn-header-logo.png" width="32"></a>
                <span class="pull-left" style="margin-top:9px;"><b>Yappn</b> <sup>beta</sup></span>
            </div>
           
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
                
                <li class="info dropdown" ng-show="!currentUser.id">
                    <button class="btn btn-link navbar-link " ng-click="loginForm()">{{ 'navbar.button.noauth' | translate }}</button>
                </li>

                <!-- only show when authenticated -->

                <li class="info" ng-show="currentUser.id">
                    {{ 'navbar.button.authenticated' | translate }}, {{currentUser.displayName}}! <button ng-click="logout()" class="btn btn-link" translate>{{ 'navbar.dropdown.logout' }}</button>
                </li>
                
            </ul>
        </div>

        <div ng-include="'partials/discussions/integrated.html'" data-ng-controller="Discussions.Integrated" style="padding-top:60px; margin-left:10px;"></div>
            
        <!-- public static configuration data for our angular app  -->
        <script type="text/javascript">
            YAPPN_CONFIG = '<%- yappnConfig %>';
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47219521-3', 'yappn.com');
        </script>

        <!--[if lt IE 10]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js(app) scripts/vendor-integrated.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-smilies/dist/angular-smilies.min.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/get-style-property/get-style-property.js"></script>
        <script src="bower_components/get-size/get-size.js"></script>
        <script src="bower_components/eventie/eventie.js"></script>
        <script src="bower_components/doc-ready/doc-ready.js"></script>
        <script src="bower_components/eventEmitter/EventEmitter.js"></script>
        <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
        <script src="bower_components/matches-selector/matches-selector.js"></script>
        <script src="bower_components/outlayer/item.js"></script>
        <script src="bower_components/outlayer/outlayer.js"></script>
        <script src="bower_components/masonry/masonry.js"></script>
        <script src="bower_components/imagesloaded/imagesloaded.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js(app) scripts/vendor2-integrated.js -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbuild -->

        <!-- build:js(app) scripts/vendor3-integrated.js -->
        <script src="scripts/vendors/faye.js"></script>
        <script src="scripts/vendors/async.js"></script>
        <script src="scripts/vendors/moment-with-langs.js"></script>
        <script src="scripts/vendors/angular-checklist.js"></script>
        <script src="scripts/vendors/angular-fileupload.js"></script>
        <script src="scripts/vendors/angular-linkify.js"></script>
        <script src="scripts/vendors/angular-masonry.js"></script>
        <script src="scripts/vendors/angular-toaster.js"></script>
        <script src="scripts/vendors/angular-truncate.js"></script>
        <script src="scripts/vendors/angular-translate.js"></script>
        <script src="scripts/vendors/angular-moment.js"></script>
        <script src="scripts/vendors/angular-faye.js"></script>
        <script src="scripts/vendors/angular-yappn.js"></script>
        <script src="scripts/vendors/angulartics.js"></script>
        <script src="scripts/vendors/angulartics-ga.js"></script>
        <script src="scripts/vendors/ng-infinite-scroll.js"></script>
        <script src="scripts/vendors/http-throttler.js"></script>
        <script src="scripts/vendors/lrInfiniteScroll.js"></script>
        <script src="scripts/vendors/oauth.io.js"></script>
        <script src="scripts/vendors/sidebar.js"></script>
        <script src="scripts/vendors/ui-router.js"></script>
        <script src="scripts/vendors/xeditable.js"></script>
        <script src="scripts/vendors/ng-tags-input.js"></script>
        <script src="scripts/vendors/stacktrace.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts-integrated.js -->
        <script src="scripts/app.js"></script>

        <!-- directives -->
        <script src="scripts/directives/addthis.js"></script>
        <script src="scripts/directives/connection.js"></script>
        <script src="scripts/directives/force_submit.js"></script>
        <script src="scripts/directives/infinite_scroll_div.js"></script>
        <script src="scripts/directives/leaderboard.js"></script>
        <script src="scripts/directives/max_characters.js"></script>
        <script src="scripts/directives/notifications.js"></script>
        <script src="scripts/directives/password_check.js"></script>
        <script src="scripts/directives/reactions.js"></script>
        <script src="scripts/directives/startfrom.js"></script>
        <script src="scripts/directives/userimage.js"></script>
        <script src="scripts/directives/youtube.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>

        <!-- services -->
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/errors.js"></script>
        <script src="scripts/services/faye.js"></script>
        <script src="scripts/services/flash.js"></script>
        <script src="scripts/services/online.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/yappn-config.js"></script>

        <!-- controllers -->
        <script src="scripts/controllers/discussions/integrated.js"></script>
        <script src="scripts/controllers/integrated.js"></script>
        <script src="scripts/controllers/loader.js"></script>

        <!-- load -->
        <script src="scripts/bootstrap.js"></script>
        <!-- endbuild -->    
        
    </body>
</html>