<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(app) styles/vendor.css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/logout" target="_self">Logout</a></li>
    </ul>
    <h3 class="text-muted">Yappn</h3>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Decision</h1>
      <p class="text-muted">Authorization Server</p>
    </div>
    <div class="col-sm-12">
      <form action="/oauth2/authorize/decision" method="post" class="form">
        <input name="transaction_id" type="hidden" value="<%= transactionID %>">
        <div class="upper-box">
          <div>
            <p><%= user.name %>,</p>
            <p>The application <b><%= client.name %></b> is requesting access to your account.</p>
            <p>The application wants the permissions:
            <ul>
            <% for(var i=0; i<scope.length; i++) {%>
               <li><code><%= scope[i] %></code></li>
            <% } %>
            </ul>
            </p>
            <p>Do you approve?</p>
          </div>
        </div>

        <input class="btn btn-lg btn-primary" type="submit" value="Accept" id="allow">
        <input class="btn btn-lg btn-warning" type="submit" value="Deny" name="cancel" id="deny">
      </form>
    </div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

</body>
</html>
